{% extends "base_inner.html" %}
{% load i18n %}

{% block body_css_class %}page-campaign{% endblock %}

{% block content_inner %}
    <div class="container">
        <h1>{{ campaign.name }}</h1>
        <div class="subtitle">Morbi fringilla convallis sapien, id pulvinar odio volutpat. Nec dubitamus multa iter quae et nos invenerat.</div>

        <!-- Try make it short but convincing and impactful -->

        <div class="row">
            <div class="col-8">


                <form action="." method="post">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="id_first_name">First name</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="id_last_name">Last name</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="id_email">Email</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="id_phone_number">Phone number</label>
                                {{ form.phone_number }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_address">Receipt address</label>
                        {{ form.address }}
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="id_amount">Amount</label>
                                {{ form.amount }}
                                <small id="emailHelp" class="form-text text-muted">Minimum is 20. Max is 1 million.</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_payment_selector">Payment option</label>
                        <select class="form-control" id="id_payment_selector">
                            <option value="omise:creditcard">Omise:Credit Card</option>
                            <option value="linepay">Rabbit LINE Pay</option>
                            <option value="transfer">Bank Transfer</option>
                        </select>
                    </div>

                    <div class="payment-form form-creditcard">
                        <input type="hidden" name="omise_token">
                        <input type="hidden" name="omise_card_id">

                        <fieldset class="form-creditcard">
                            <legend class="hide-txt">{% trans 'Credit Card Infomation' %}</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="id_card_name">{% trans 'Card Name' %}</label>
                                        <input class="form-control" type="text" id="id_card_name" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="id_card_number">{% trans 'Card Number' %}</label>
                                        <input class="form-control" type="text" id="id_card_number" required autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-creditcard-expiration">
                                    <label class="control-label" for="id_card_expire_month">{% trans 'Expiry Date (MM/YY)' %}</label>
                                    <input class="form-control" type="text" id="id_card_expire_month" data-omise="expiration_month" size="2" placeholder="MM" autocomplete="off">
                                    <span class="divider">/</span>
                                    <input class="form-control" type="text" id="id_card_expire_year" data-omise="expiration_year" size="4" placeholder="YY" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-security-code">
                                    <label class="control-label" for="id_card_security">{% trans 'CVV' %}</label>
                                    <input class="form-control" type="password" id="id_card_security" maxlength="8" required autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
            <div class="col-4">
                How secure?
            </div>
        </div>
    </div>
{% endblock %}