{% extends "base_inner.html" %}
{% load static i18n regular common %}

{% block body_css_class %}page-donate{% endblock %}

{% block content_inner %}
    <div class="container">
        <h1><span class="head">Donate</span> Plura mihi bona sunt, inclinet, amari petere vellent.</h1>
        <div class="donate-header">
            <div class="row">
                <div class="col-lg-4">
                    <img src="{% static 'images/website/cover1.jpg' %}" class="img-fluid" />
                </div>
                <div class="col-lg-8">
                    <p>Magna pars studiorum, prodita quaerimus. Cum ceteris in veneratione tui montes, nascetur mus. Unam incolunt Belgae, aliam Aquitani, tertiam. Quam diu etiam furor iste tuus nos eludet? Idque Caesaris facere voluntate liceret: sese habere. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
                    <p>Fictum, deserunt mollit anim laborum astutumque! Non equidem invideo, miror magis posuere velit aliquet. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Curabitur blandit tempus ardua ridiculus sed magna.</p>
                </div>
            </div>
        </div>
    </div>

    <form action="." method="post" class="donate-form" id="id_donation_form">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="form-error-nonfield">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {{ form.non_field_errors }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <fieldset class="form-group form-amount">
                        <legend>Donation amount</legend>
                        {% for choice_amount, choice_description in form.amount_choice.field.choices %}
                            {% first_or_equal_choice forloop.first choice_amount form.amount_choice.value form.custom_amount.value as amount_active %}

                            <div class="form-check">
                                <label class="form-check-label{% if amount_active %} active{% endif %}">
                                    <i class="fa radio"></i>
                                    <input class="form-check-input sr-only" type="radio" name="amount_choice" value="{{ choice_amount }}"{% if amount_active %} checked{% endif %}/>
                                    <span class="num">{{ choice_amount|amount_short }} Baht</span>
                                    {% if choice_description %}<span class="desc">{{ choice_description }}</span>{% endif %}
                                </label>
                            </div>
                        {% endfor %}

                        <div class="form-check">
                            <label class="form-check-label custom{% if form.custom_amount.value %} active{% endif %}">
                                <i class="fa radio"></i>
                                <input class="form-check-input sr-only" type="radio" name="amount_choice" value=""{% if form.custom_amount.value %} checked{% endif %}/>
                                {{ form.custom_amount }}
                                <span class="unit">Baht</span>
                                <span class="desc">Specify your own contribution</span>
                            </label>
                        </div>

                        <div class="form-error-amount_choice form-error-custom_amount">
                            {{ form.amount_choice.errors }}
                            {{ form.custom_amount.errors }}
                        </div>

                    </fieldset>
                    <fieldset class="form-group form-recurring">
                        <legend class="sr-only">Recurring donation</legend>
                        <div class="checkbox">
                            {{ form.recurring }}
                            <label for="id_recurring">Make this donation monthly</label>
                            <p>Ab illo tempore, ab est sed immemorabili. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh.</p>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <div class="form-donate-faq">
                        <div class="-block">
                            <h3>Will my money be worthwhile?</h3>
                            <p>Quo usque tandem abutere, Catilina, patientia nostra? Phasellus laoreet lorem vel dolor tempus vehicula. Mercedem aut nummos unde unde extricat, amaras. Quam temere in vitiis, legem sancimus haerentia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-donor-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <fieldset class="form-donor">
                            <legend>Donor information</legend>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_first_name">First name <i class="fa fa-asterisk" style="font-size: 10px; color: #c30; vertical-align: 5px;"></i></label>
                                        {{ form.first_name }}
                                        <small class="form-text text-muted">Required</small>
                                        <div class="form-error-first_name">{{ form.first_name.errors }}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_last_name">Last name <i class="fa fa-asterisk" style="font-size: 10px; color: #c30; vertical-align: 5px;"></i></label>
                                        {{ form.last_name }}
                                        <small class="form-text text-muted">Required</small>
                                        <div class="form-error-last_name">{{ form.last_name.errors }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_email">Email</label>
                                        {{ form.email }}
                                        <div class="form-error-email">{{ form.email.errors }}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="id_phone_number">Phone number</label>
                                        {{ form.phone_number }}
                                        <div class="form-error-phone_number">{{ form.phone_number.errors }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="id_address">Address for Tax Deductable Receipt</label>
                                {{ form.address }}
                                <small class="form-text text-muted">To issue a receipt, donation have to be at least {{ MINIMUM_DONATION_AMOUNT_FOR_RECEIPT|amount_short }} baht / year</small>
                                <div class="form-error-address">{{ form.address.errors }}</div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <fieldset class="form-payment">
                        <legend>Payment options</legend>
                        {{ form.payment_option }}

                        <div id="id_payment_options" role="tablist" aria-multiselectable="false">
                            <div class="card" data-payment="omise:creditcard">
                                <div class="card-header" role="tab" id="payment-head-creditcard-omise">
                                    <h5 class="mb-0">
                                        <a class="{% if form.payment_option.value != 'omise:creditcard' %}collapsed{% endif %}" data-toggle="collapse" data-parent="#id_payment_options" href="#form-payment-creditcard-omise" aria-expanded="{% if form.payment_option.value == 'omise:creditcard' %}true{% else %}false{% endif %}" aria-controls="form-payment-creditcard-omise"><i class="fa caret"></i> <i class="fa fa-credit-card"></i> Credit Card / Debit Card</a>
                                    </h5>
                                </div>

                                <div id="form-payment-creditcard-omise" class="collapse{% if form.payment_option.value == 'omise:creditcard' %} show{% endif %}" role="tabpanel" aria-labelledby="payment-head-creditcard-omise">
                                    <div class="card-block form-creditcard">
                                        <input type="hidden" name="omise_token">
                                        <input type="hidden" name="omise_card_id">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group -name">
                                                    <label class="control-label" for="id_card_name">{% trans 'Card Name' %}</label>
                                                    <input class="form-control" type="text" id="id_card_name" {# required #} />
                                                    <small class="form-text text-muted">e.g. John Snow</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group -number">
                                                    <label class="control-label" for="id_card_number">{% trans 'Card Number' %}</label>
                                                    <input class="form-control" type="text" id="id_card_number" {# required #} autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group -expiry">
                                                    <label class="control-label" for="id_card_expire_month">{% trans 'Expiry Date (MM/YY)' %}</label>
                                                    <input class="form-control" type="text" id="id_card_expire_month" data-omise="expiration_month" size="2" placeholder="MM" autocomplete="off">
                                                    <span class="divider">/</span>
                                                    <input class="form-control" type="text" id="id_card_expire_year" data-omise="expiration_year" size="4" placeholder="YY" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group -security">
                                                    <label class="control-label" for="id_card_security">{% trans 'CVV' %}</label>
                                                    <input class="form-control" type="password" id="id_card_security" maxlength="8" {# required #} autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-text">In case of debit card, we can only process a card that is already activated to be used online and was issued from Bangkok Bank, Kasikorn Bank, KTB, and SCB.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="card" data-payment="omise:ibanking">
                                <div class="card-header" role="tab" id="payment-head-ibanking-omise">
                                    <h5 class="mb-0">
                                        <a class="{% if form.payment_option.value != 'omise:ibanking' %}collapsed{% endif %}" data-toggle="collapse" data-parent="#id_payment_options" href="#form-payment-ibanking-omise" aria-expanded="{% if form.payment_option.value == 'omise:ibanking' %}true{% else %}false{% endif %}" aria-controls="form-payment-ibanking-omise"><i class="fa caret"></i> <i class="fa fa-desktop"></i> Internet Banking</a>
                                    </h5>
                                </div>

                                <div id="form-payment-ibanking-omise" class="collapse{% if form.payment_option.value == 'omise:ibanking' %} show{% endif %}" role="tabpanel" aria-labelledby="payment-head-ibanking-omise">
                                    <div class="card-block form-ibanking">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="ibanking"/>
                                                    <i class="thbanks thbanks-scb" aria-hidden="true"></i>
                                                    <span class="bank-name">Siam Commercial Bank (SCB)</span>
                                                    <span class="desc">Transaction fee 30 Baht</span>
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="ibanking"/>
                                                    <i class="thbanks thbanks-ktb" aria-hidden="true"></i>
                                                    <span class="bank-name">Krungthai Bank</span>
                                                    <span class="desc">Transaction fee 15 Baht</span>
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="ibanking"/>
                                                    <i class="thbanks thbanks-bay" aria-hidden="true"></i>
                                                    <span class="bank-name">Krungsri Bank</span>
                                                    <span class="desc">Transaction fee 20 Baht</span>
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="ibanking"/>
                                                    <i class="thbanks thbanks-bbl" aria-hidden="true"></i>
                                                    <span class="bank-name">Bangkok Bank</span>
                                                    <span class="desc">Transaction fee 35 Baht</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-text">You will need to have an internet banking account of your bank of choice. After you have submitted this form, you will be redirect to the bank website to login.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="card" data-payment="linepay">
                                <div class="card-header" role="tab" id="payment-head-linepay">
                                    <h5 class="mb-0">
                                        <a class="{% if form.payment_option.value != 'linepay' %}collapsed{% endif %}" data-toggle="collapse" data-parent="#id_payment_options" href="#form-payment-linepay" aria-expanded="{% if form.payment_option.value == 'linepay' %}true{% else %}false{% endif %}" aria-controls="form-payment-linepay"><i class="fa caret"></i> Rabbit LINE Pay</a>
                                    </h5>
                                </div>

                                <div id="form-payment-linepay" class="collapse{% if form.payment_option.value == 'linepay' %} show{% endif %}" role="tabpanel" aria-labelledby="payment-head-linepay">
                                    <div class="card-block form-linepay">
                                        <span class="icon_phone"><i class="fa fa-mobile-phone"></i></span>
                                        <p class="head">Please have your device ready and have LINE app installed.</p>
                                        <p>Rabbit LINE Pay requires LINE app from version 4.8.0 in iPhone and version 5.4.1 in Android</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card" data-payment="transfer">
                                <div class="card-header" role="tab" id="payment-head-transfer">
                                    <h5 class="mb-0">
                                        <a class="{% if form.payment_option.value != 'transfer' %}collapsed{% endif %}" data-toggle="collapse" data-parent="#id_payment_options" href="#form-payment-transfer" aria-expanded="{% if form.payment_option.value == 'transfer' %}true{% else %}false{% endif %}" aria-controls="form-payment-transfer"><i class="fa caret"></i> Bank Transfer (Offline)</a>
                                    </h5>
                                </div>

                                <div id="form-payment-transfer" class="collapse{% if form.payment_option.value == 'transfer' %} show{% endif %}" role="tabpanel" aria-labelledby="payment-head-transfer">
                                    <div class="card-block form-transfer">
                                        <div class="bank-account">
                                            <i class="thbanks thbanks-bay" aria-hidden="true"></i>
                                            <div class="account-info">
                                                <span class="bank-name"><strong>Krungsri Bank</strong> (Bangna branch)</span>
                                                <span class="account-number">123-456789-0</span>
                                                <span class="account-name">Account name: Sweeping Trekker</span>
                                            </div>
                                        </div>
                                        <div class="bank-account">
                                            <i class="thbanks thbanks-kbank" aria-hidden="true"></i>
                                            <div class="account-info">
                                                <span class="bank-name"><strong>Kasikorn Bank</strong> (Bangna branch)</span>
                                                <span class="account-number">123-456789-0</span>
                                                <span class="account-name">Account name: Sweeping Trekker</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card" data-payment="giftcard">
                                <div class="card-header" role="tab" id="payment-head-giftcard">
                                    <h5 class="mb-0">
                                        <a class="{% if form.payment_option.value != 'giftcard' %}collapsed{% endif %}" data-toggle="collapse" data-parent="#id_payment_options" href="#form-payment-giftcard" aria-expanded="{% if form.payment_option.value == 'giftcard' %}true{% else %}false{% endif %}" aria-controls="form-payment-giftcard"><i class="fa caret"></i> Gift Card</a>
                                    </h5>
                                </div>

                                <div id="form-payment-giftcard" class="collapse{% if form.payment_option.value == 'giftcard' %} show{% endif %}" role="tabpanel" aria-labelledby="payment-head-giftcard">
                                    <div class="card-block form-giftcard">
                                        <div class="form-group">
                                            <label for="id_giftcard_number">Gift card number</label>
                                            <input type="text" class="form-control" id="id_giftcard_number">
                                            <small class="form-text text-muted">Amount stored in your gift card will affect your donation amount. Refer to <a href="#">Gift card FAQ</a> if you have any question.</small>
                                        </div>

                                        <div class="form-text">If you're interested to buy a gift card, you can buy it from <a href="#">Gift card</a> page.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-error-payment_option">{{ form.payment_option.errors }}</div>
                    </fieldset>
                </div>
                <div class="col-lg-4">
                    <div class="form-donate-faq">
                        <div class="-block">
                            <h3>How secure is this?</h3>
                            <p>Quo usque tandem abutere, Catilina, patientia nostra? Phasellus laoreet lorem vel dolor tempus vehicula. Mercedem aut nummos unde unde extricat, amaras. Quam temere in vitiis, legem sancimus haerentia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="form-actions">
                <button type="submit" class="btn btn-submit"><i class="fa fa-lock"></i> Confirm donation</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
<script>

var amountChanged = function(amount) {
    if(amount && amount < {{ MINIMUM_DONATION_AMOUNT_FOR_RECEIPT }}) {
        $('#id_address').prop('disabled', true);
    } else {
        $('#id_address').prop('disabled', false);
    }
};

var recurringChanged = function(recurring) {
    if(recurring) {
        $('.form-payment').find('.card').each(function() {
            var hidden = $.inArray($(this).attr('data-payment'), ['transfer', 'giftcard']) >= 0;
            $(this).toggle(!hidden);
        });

        // TODO : Hide active collapse (only collapse that active)

    } else {
        $('.form-payment').find('.card').show();
    }
};

var form_is_valid = function() {
    var is_valid = true;

    if(!$('#id_first_name').val()) {
        _add_error('form-error-first_name', 'This field is required');
        is_valid = false;
    }

    if(!$('#id_last_name').val()) {
        _add_error('form-error-last_name', 'This field is required');
        is_valid = false;
    }

    var email = $('#id_email');
    if(email.val() && !isValidEmail(email.val())) {
        _add_error('form-error-email', 'Please enter a valid email address');
        is_valid = false;
    }

    // TODO : Check minimum/maximum amount

    return is_valid;
};

var validate_creditcard = function() {
    var form = $('#id_donation_form');

    var cardName = form.find("[id=id_card_name]").val();
    var cardNumber = form.find("[id=id_card_number]").val().replace(/ /g, '');
    var expireMonth = parseInt(form.find("[id=id_card_expire_month]").val(), 10) || '';
    var expireYear = parseInt(form.find("[id=id_card_expire_year]").val(), 10) || '';
    var cardCCV = form.find("[id=id_card_security]").val();

    var today = new Date();
    var currentYear = today.getFullYear();
    var currentYear2Digit = currentYear % 100;
    var offsetYear = 30;

    return {
        'name': cardName,
        'number': cardNumber,
        'expiration_month': expireMonth,
        'expiration_year': expireYear,
        'security_code': cardCCV
    };
};

var _add_error = function(class_name, msg) {
    $('.' + class_name).html('<ul class="errorlist"><li>' + msg + '</li></ul>');
};

var _removeError = function(class_name) {
    $('.' + class_name).html('');
};

var _getCurrentAmount = function() {
    var amount_choice = $('#id_amount_choice').val();
    if(amount_choice) {
        return amount_choice;
    } else {
        var custom_amount = $('#id_custom_amount').val();
        if(custom_amount) {
            return custom_amount;
        }
    }

    return 0;
};

$(document).ready(function () {
    // TODO : Check if there's errorlist in page, scroll to it and place error message at the bottom

    amountChanged(_getCurrentAmount());

    $('.form-amount label').on('click', function() {
        if(!$(this).hasClass('custom')) {
            $('.form-amount label').removeClass('active');
            $(this).addClass('active');
            $('#id_custom_amount').val('').parent('label').removeClass('active');
        } else {
            $(this).find('input[type=number]').focus();
        }
    });

    $('input[name="amount_choice"]').on('change', function() {
        _removeError('form-error-amount_choice');
        _removeError('form-error-custom_amount');

        if($('#id_recurring').is(':checked')) {
            amountChanged(this.value * 12);
        } else {
            amountChanged(this.value);
        }
    });

    $('#id_custom_amount').payment('restrictNumeric').on('keyup', function() {
        if (this.value.length > 0) {
            $('.form-amount label').removeClass('active');
            $('.form-amount input[type="radio"]').prop('checked', false);
            $(this).parents('label').addClass('active');
        }
    }).on('blur', function() {
        _removeError('form-error-amount_choice');
        _removeError('form-error-custom_amount');

        if (this.value.length > 0) {
            if(this.value < {{ MINIMUM_DONATION_AMOUNT }}) {
                _add_error('form-error-custom_amount', 'Minimum donation is {{ MINIMUM_DONATION_AMOUNT|amount_short }}');

            } else if (this.value > {{ MAXIMUM_DONATION_AMOUNT }}) {
                _add_error('form-error-custom_amount', 'Maximum donation is {{ MAXIMUM_DONATION_AMOUNT|amount_short }}');
            }
        }

        if($('#id_recurring').is(':checked')) {
            amountChanged(this.value * 12);
        } else {
            amountChanged(this.value);
        }
    });

    var recurring = $('#id_recurring').is(':checked');
    recurringChanged(recurring);

    $('#id_recurring').on('change', function() {
        var recurring = $('#id_recurring').is(':checked');

        var amount = _getCurrentAmount();
        if(recurring) {
            amountChanged(amount * 12);
        } else {
            amountChanged(amount);
        }

        recurringChanged(recurring);
    });

    $('#id_first_name').on('blur', function() {
        if(this.value) {
            _removeError('form-error-first_name');
        }
    });

    $('#id_last_name').on('blur', function() {
        if(this.value) {
            _removeError('form-error-last_name');
        }
    });

    $('#id_email').on('blur', function() {
        if(this.value && isValidEmail(this.value)) {
            _removeError('form-error-email');
        }
    });

    $('#id_payment_options').on('shown.bs.collapse', function () {
        var active_payment = $('.form-payment').find('[aria-expanded=true]').parents('.card').attr('data-payment');
        $('#id_payment_option').val(active_payment);
    });

    $('#id_card_expire_month').payment('restrictNumeric');
    $('#id_card_expire_year').payment('restrictNumeric');

    $('#id_card_number').payment('formatCardNumber');
    $('#id_card_security').payment('formatCardCVC');

    var omisePublicKey = '{{ OMISE_PUBLIC_KEY }}';
    Omise.setPublicKey(omisePublicKey);

    $('#id_donation_form').submit(function () {
        var form = $(this);
        var active_payment = $('#id_payment_option').val();

        if(!$('.form-payment').find('[data-payment="' + active_payment + '"]').is(':visible')) {
            // Active payment is hidden, maybe was disabled from using recurring
            active_payment = '';
        }

        if(!form_is_valid()) {
            return false;
        }

        if (active_payment === 'omise:creditcard') {
            var card = validate_creditcard();

            // Disable the submit button to avoid repeated click.
            form.find('button[type=submit]').prop('disabled', true);

            Omise.createToken('card', card, function (statusCode, response) {
                if (response.object == 'error') {
                    // Display an error message.

                    // TODO : Display error

                    $(".non-field-errors").html('<div class="alert alert-danger">' + response.message + '</div>');

                    // Re-enable the submit button.
                    form.find("button[type=submit]").prop("disabled", false);

                } else {
                    // Then fill the omise_token.
                    form.find("[name=omise_token]").val(response.id);
                    form.find("[name=omise_card_id]").val(response.card.id);

                    // Remove card number from form before submiting to server.
                    form.find("[data-omise=number]").val("");
                    form.find("[data-omise=security_code]").val("");

                    // submit token to server.
                    form.get(0).submit();
                }
            });

        } else if (active_payment === 'omise:ibanking') {

        } else if (active_payment === 'linepay') {
            form.get(0).submit();

        } else if (active_payment === 'transfer') {
            form.get(0).submit();

        } else if (active_payment === 'giftcard') {
            form.get(0).submit();

        } else {
            _add_error('form-error-payment_option', 'Please choose payment option');
        }

        return false;
    });

});
</script>


{% endblock %}

