
.backyard-campaigns {

}

.backyard-campaign-summary {
    .campaign-link {
        margin-bottom: 10px;

        a {
            color: #777;
            font-size: 14px;
        }
    }

    .campaign-status {
        margin-top: 7px;

        .-status {
            color: #555;
            font-size: 14px;
            display: inline-block;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            .-value {
                color: #111;
                font-weight: bold;
                padding: 0 3px;
            }

            .is_active {
                background-color: #cff0da;
            }

            .is_inactive {
                background-color: #fdd;
            }
        }
    }

    .section-actions {
        border-bottom: 1px solid #ddd;
        padding: 15px 20px;

        .action-button {
            margin-right: 15px;
        }
    }

    .section-statistics {
        padding: 20px 20px 0;

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline;
            }
        }

        .stats {
            display: inline-block;
            margin-right: 50px;

            .name {
                color: #555;
                font-size: 16px;
            }

            .number {
                color: #333;
                font-size: 24px;
                font-weight: bold;
            }

            .unit {
                font-size: 16px;
                font-weight: normal;
            }
        }
    }

    .section-donations {
        margin-top: 20px;

        .section-header {
            margin-left: 20px;
        }

        table {
            border-bottom: 1px solid #ddd;

            .datetime {
                width: 230px;
            }
        }
    }
}

.backyard-campaign-form {
    .form-default {
        padding: 0 20px 20px;
    }

    .more-controls {
        margin-top: 40px;

        h3 {
            background-color: #f7f7f7;
            border-bottom: 1px solid #ccc;
            color: #555;
            font-size: 15px;
            font-weight: normal;
            padding: 12px 15px;

            i {
                margin-right: 4px;
            }
        }
    }

    .current-image {
        border: 1px dashed #ccc;
        border-radius: 4px;
        margin-top: 20px;
        padding: 15px 15px;

        h4 {
            color: #333;
            font-size: 15px;
            font-weight: bold;
            margin: 0 0 15px;
            padding: 0;
        }

        .no-image {
            color: #777;
            font-size: 14px;
            margin: 0;
            padding: 0;
        }
    }
}
