.backyard-dashboard {
    .summary {
        .summary-item {

        }

        .name {
            color: #333;
            //font-size: 0.95rem;
            font-weight: bold;
            font-size: 1rem;
        }

        .desc {
            color: #777;
            font-size: 0.8rem;
            display: block;
        }

        .number {
            color: #444;
            font-size: 1.4rem;
            font-weight: bold;
            display: block;
            margin-top: 5px;

            .unit {
                font-size: 1rem;
            }
        }

        @include media-breakpoint-down(md) {
            .summary-item {
                border-bottom: 1px solid #eee;
                margin-bottom: 15px;
                padding-bottom: 15px;
            }
        }
    }

    h2 {
        margin: 25px 0 15px;
    }

    h3 {
        color: #333;
        font-weight: bold;
        font-size: 17px;
        margin: 25px 0 15px;
    }

    h4 {
        color: #333;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .section-summary {
        margin: 23px 0 40px;
        padding: 0 20px;

        .summary-box {
            background-color: #BBDEFB;
            border-radius: 4px;
            padding: 12px 18px;

            .caption {
                color: #456890;
                font-size: 16px;
            }

            .number {
                color: #444;
                font-size: 20px;
                font-weight: bold;
                margin-top: 4px;
                display: block;

                .unit {
                    font-size: 15px;
                }
            }
        }

        .summary-box-edu {
            background-color: #FAA91C;
        }
    }
}