
.backyard-donations {

    .searchbar {
        .filter-keyword {
            input {
                min-width: 240px;
            }
        }


    }


}

.backyard-donation {
    .page-header {
        h1 {
            strong {
                font-weight: bold;
            }
        }
    }

    .donation-details {
        .fields {
            margin: 15px 20px;

            .field {
                margin-bottom: 15px;

                .name {
                    color: #777;
                    font-size: 0.9rem;
                    display: block;
                }
            }
        }

        .field-amount, .field-date {
            .value {
                font-size: 1.15rem;
                font-weight: bold;
            }

            .note {
                color: #333;
                font-size: 0.9rem;
                display: block;
                margin-top: 1px;
            }
        }

        .field.field-donation-number {
            .name {
                display: inline;
            }
        }
    }

    .donation-donors {
        .donor-stats {
            border-top: 1px solid #d7d7d7;
            padding: 15px 20px;

            .field {
                .name {
                    color: #777;
                    font-size: 0.9rem;
                    display: block;
                }

                .value {
                    color: #444;
                    font-weight: bold;
                }
            }
        }
    }

    .payment-status {
        margin: 15px 20px 10px;

        .name {
            color: #777;
            font-size: 0.8rem;
            display: block;
            margin-bottom: 3px;
        }

        .status {
            display: inline-block;

            background-color: $color_green;
            border-radius: 100px;
            color: #fff;
            font-size: 0.9rem;
            font-weight: bold;

            padding: 1px 10px;
        }

        .note {
            color: #333;
            font-size: 0.9rem;
            display: block;
            margin-top: 5px;
        }
    }

    .payment-source {
        border-top: 1px dashed #ccc;
        padding: 15px 20px 20px;

        .source-heading {
            color: $color_content_heading;
            font-size: 0.8rem;
            font-weight: bold;
        }

        .source-creditcard {
            .card-holder {
                font-size: 1.1rem;
                font-weight: bold;
            }

            .card-number {
                font-size: 1.1rem;
                margin-top: 3px;
            }

            .card-expiry {
                margin-top: 5px;
            }
        }
    }

    .payment-history {
        margin: 35px 0 20px;

        .cardbox-heading {
            border-bottom: none;
        }
    }
}