.table-default {
    td.amount {
        .number {
            color: #444;
            font-weight: bold;
            display: block;
        }

        .recurring {
            font-size: 0.8rem;
            display: block;
            margin-top: 2px;
        }
    }

    td.status {
        .text {
            border-radius: 100px;
            color: #fff;
            font-size: 0.8rem;

            display: inline-block;
            padding: 0 10px;

            &.good {
                background-color: $color_green;
                border: 1px solid $color_green;
            }

            &.soso {

            }

            &.notgood {

            }
        }
    }

    tr.clickable-row {
        &:hover {
            td.amount .number {
                color: #fff;
            }

            td.status .text {
                background-color: #fff;
                border: 1px solid #fff;
                color: $color_link;
            }
        }
    }
}

.table-donations {
    th.datetime {
        width: 150px;
    }

    th.name_email {
    }

    th.amount {
        width: 140px;
    }

    th.campaign {
    }

    th.payment {
        width: 230px;
    }

    td.payment {
        .method {
            color: #555;
            font-size: 0.8rem;
            display: block;
            margin-top: 2px;
        }
    }

    tr.clickable-row {
        &:hover {
            td.payment .method {
                color: #fff;
            }
        }
    }
}



.table-campaigns {
    th.campaign {

    }

    th.status {

    }

    th.amount {

    }

    td {
        &.campaign-cell {
            padding: 12px 12px 18px 20px;
            text-align: left;

            .campaign_name {
                font-size: 16px;
                font-weight: bold;
            }

            .campaign_link {
                margin-top: 3px;

                a {
                    color: #777;
                    font-size: 13px;
                }
            }

            .actions {
                margin-top: 15px;

                .btn {
                    font-size: 14px;
                    margin-right: 10px;
                    padding: 4px 12px;

                    i {
                        margin-right: 2px;
                        vertical-align: -1px;
                    }
                }
            }
        }

        .active, .inactive, .normal {
            border-radius: 3px;
            display: inline-block;
            padding: 0 7px;
        }

        .active {
            background-color: #cff0da;
        }

        .inactive {
            background-color: #fdd;
        }
    }
}

.table-history {
    th.datetime {
        width: 150px;
    }

    th.action {
        width: 80px;
    }

    th.details {
    }

    th.status {
        width: 70px;
    }

    td.datetime {
        .date {
            display: block;
        }

        .time {
            font-size: 0.9rem;
            display: block;
        }
    }

}

.table-donors {
    th.name {

    }

    th.email {
    }

    th.num_donations {
        width: 240px;
    }

    th.sum_donations {
        width: 240px;
    }
}