@import "../../../../backyard/static/backyard/css/backyard";

@import "colors";
@import "tables";

@import 'page_dashboard';
@import 'page_campaigns';
@import 'page_donations';



.backyard-donations {

}
/*
.backyard-table {
    font-size: 14px;

    a {
        color: #444;
        text-decoration: none;
    }

    th .unit {
        font-size: 12px;
        font-weight: normal;
    }

    th.date {
        width: 115px;
    }

    th.datetime {
        width: 170px;
    }

    th.type, th.status {
        width: 110px;
    }

    th.amount {
        width: 130px;
    }

    th.details {
        width: 60px;
    }

    tr.clickable-row {
        &:hover {
            background-color: #2f89bf;
            color: #fff;

            a {
                color: #fff;
            }
        }
    }
}
*/