@charset "UTF-8";
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.2857142857em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.1428571429em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.1428571429em;
  width: 2.1428571429em;
  top: 0.1428571429em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.8571428571em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.form-control::placeholder {
  color: #777;
  font-size: 0.8rem; }

.dropdown-menu {
  border-radius: 0; }

.multiselect-container {
  margin: 2px 0 0 0;
  padding: 5px 0; }

.multiselect-container > li > a > label {
  padding: 6px 20px 6px 32px; }

html, body {
  background-color: #e9ebee;
  font-size: 16px;
  min-height: 100vh; }

.navbar {
  background-color: #007599;
  border: none;
  border-radius: 0;
  height: 115px;
  margin-bottom: 0;
  max-height: 115px;
  position: absolute;
  width: 100%;
  z-index: 1000; }
  @media (min-width: 768px) {
    .navbar {
      height: 66px;
      max-height: 66px; } }
  .navbar .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;
    padding: 12px 0 0 54px; }
    .navbar .navbar-brand i.fa {
      color: #eee !important;
      position: absolute;
      margin: 14px 0 0 -38px; }
    .navbar .navbar-brand .website_name {
      color: #c2e5f0;
      font-size: 0.85rem;
      font-weight: normal;
      margin-top: 3px;
      display: block; }
    .navbar .navbar-brand:hover {
      color: #fff;
      text-decoration: none; }
      .navbar .navbar-brand:hover .website_name {
        color: #fff; }
  .navbar .navbar-nav {
    padding: 16px 30px 0 0; }
  .navbar .nav-item {
    vertical-align: middle; }
    .navbar .nav-item .account {
      color: #fff;
      font-size: 0.9rem;
      margin-top: 5px; }
      .navbar .nav-item .account .username {
        font-weight: bold; }
    .navbar .nav-item .nav-link {
      border: 1px solid #279bbe;
      border-radius: 3px;
      color: #c2e5f0;
      font-size: 0.85rem;
      margin-left: 15px;
      padding: 5px 12px; }
      .navbar .nav-item .nav-link:hover {
        background-color: #fff;
        border-color: #fff;
        color: #007599;
        text-decoration: none; }

@media (max-width: 767px) {
  .navbar .navbar-nav {
    padding: 11px 0 0 15px; }
  .navbar .nav-item {
    float: left; }
    .navbar .nav-item .account {
      font-size: 0.75rem; }
    .navbar .nav-item .nav-link {
      font-size: 0.75rem; } }

.page-sidebar-toggler {
  color: #bbb;
  font-size: 0.8rem;
  background-color: #404146;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 10px 0;
  float: none;
  width: 100%; }

@media (max-width: 991px) {
  .navbar-toggle {
    display: block !important; } }

.page-container {
  height: 100%;
  min-height: 100vh;
  padding-top: 115px; }
  .page-container .flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh; }
  .page-container .page-sidebar-container {
    background-color: #404146; }
  .page-container .page-content-container {
    flex-grow: 1; }
  @media (min-width: 768px) {
    .page-container {
      padding-top: 66px; } }
  @media (min-width: 992px) {
    .page-container .collapse {
      display: block; }
    .page-container .flex-container {
      flex-direction: row; } }

.page-sidebar {
  width: 100%;
  margin: 0; }
  .page-sidebar .nav-item .nav-link {
    color: #eee;
    font-size: 0.9rem;
    padding: 9px 35px 9px 15px;
    border-bottom: 1px solid #555; }
    .page-sidebar .nav-item .nav-link .fa {
      color: #eee;
      font-size: 0.8rem;
      margin-right: 3px; }
    .page-sidebar .nav-item .nav-link.active, .page-sidebar .nav-item .nav-link:hover, .page-sidebar .nav-item .nav-link:active {
      background-color: #e9ebee;
      border-bottom: 1px solid #e9ebee;
      color: #444; }
      .page-sidebar .nav-item .nav-link.active .fa, .page-sidebar .nav-item .nav-link:hover .fa, .page-sidebar .nav-item .nav-link:active .fa {
        color: #555; }
  .page-sidebar .nav-item.nav-section {
    color: #aaa;
    font-size: 0.8rem;
    padding: 18px 15px 2px; }
  @media (max-width: 767px) {
    .page-sidebar .nav {
      margin-bottom: 10px; }
    .page-sidebar .nav-item {
      padding: 0 10px; }
      .page-sidebar .nav-item .nav-link {
        border-bottom: none;
        padding: 7px 10px; }
        .page-sidebar .nav-item .nav-link.active, .page-sidebar .nav-item .nav-link:hover, .page-sidebar .nav-item .nav-link:active {
          border-bottom: none; } }

.page-header {
  border: none;
  margin: 0;
  padding: 13px 10px 10px; }
  .page-header .supertitle {
    color: #444;
    font-size: 17px;
    font-weight: 500;
    padding: 5px 0; }
  .page-header h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 37px;
    color: #111;
    margin: 0;
    padding: 0; }
  .page-header .subtitle {
    color: #666;
    font-size: 14px;
    margin-top: 6px; }
    .page-header .subtitle b {
      color: #444; }
    .page-header .subtitle .divide {
      color: #BBB;
      display: inline-block;
      margin: 0 5px; }
  .page-header .page-breadcrumb {
    color: #999;
    font-size: 0.9rem;
    padding: 8px 0 5px; }
    .page-header .page-breadcrumb a, .page-header .page-breadcrumb a:link, .page-header .page-breadcrumb a:visited {
      color: #0077dd;
      text-decoration: underline; }
    .page-header .page-breadcrumb a:hover, .page-header .page-breadcrumb a:active {
      background-color: #0077dd;
      color: #fff;
      cursor: pointer;
      text-decoration: none; }
    .page-header .page-breadcrumb .active {
      color: #444; }

.page-content {
  padding: 0 10px; }

.page-messages {
  padding-left: 0;
  list-style: none;
  margin: 20px 20px 10px; }
  .page-messages li {
    border: 1px solid;
    border-radius: 4px;
    color: #333;
    font-size: 15px;
    padding: 15px 20px; }
  .page-messages .debug, .page-messages .info, .page-messages .warning {
    color: #5f4f33;
    background-color: #fcf8e3;
    border-color: #e0e096; }
  .page-messages .success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #b6d1ab; }
  .page-messages .error {
    color: #8c4745;
    background-color: #f2dede;
    border-color: #daaab2; }

.page-tabs {
  border-bottom: 4px solid #ccc;
  margin: 10px 0 20px;
  padding-bottom: 6px; }
  .page-tabs ul {
    margin: 0;
    padding: 0; }
    .page-tabs ul li {
      display: inline-block;
      list-style: none; }
      .page-tabs ul li a {
        background-color: #dbdee3;
        border-bottom: 4px solid #ccc;
        color: #333;
        font-size: 0.90rem;
        margin-right: 5px;
        padding: 10px 18px 8px; }
        .page-tabs ul li a .fa {
          color: #555;
          margin-right: 2px; }
        .page-tabs ul li a:hover {
          background-color: #0089b3;
          border-bottom: 4px solid #007599;
          color: #fff;
          text-decoration: none; }
          .page-tabs ul li a:hover .fa {
            color: #fff; }
        .page-tabs ul li a.active {
          border-bottom: 4px solid #007599;
          color: #fff;
          background-color: #0089b3; }
          .page-tabs ul li a.active .fa {
            color: #fff; }

.link-default, .link-default:link, .link-default:visited {
  color: #0077dd;
  text-decoration: underline; }

.link-default:hover, .link-default:active {
  background-color: #0077dd;
  color: #fff;
  cursor: pointer;
  text-decoration: none; }

.button-primary, .button-primary:link, .button-primary:visited {
  background-color: #ce467a;
  border-color: #b22f61;
  color: #fff; }

.button-primary:hover, .button-primary:active {
  background-color: #b22f61;
  color: #fff;
  cursor: pointer; }

.button-primary i {
  margin-right: 3px; }

.button-primary.-small {
  font-size: 14px;
  vertical-align: middle;
  padding: 4px 15px; }

.button-primary.-medium {
  padding: 10px 40px 9px; }

.button-gray, .button-gray:link, .button-gray:visited {
  background-color: #F2F2F2;
  border-color: #e5e5e5;
  color: #333; }

.button-gray:hover, .button-gray:active {
  background-color: #0075ae;
  border-color: #0075ae;
  color: #fff;
  cursor: pointer; }

.button-gray i {
  margin-right: 3px; }

.button-gray.-extra-small {
  font-size: 0.8rem;
  padding: 2px 8px; }

.button-gray.-small {
  font-size: 14px;
  padding: 4px 15px; }

.button-gray.-medium {
  padding: 10px 40px 9px; }

.number-of-results {
  color: #555;
  font-size: 0.9rem;
  padding-bottom: 10px; }
  .number-of-results .number {
    color: #333;
    font-weight: bold; }

.cardbox {
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 25px; }
  @media (min-width: 992px) {
    .cardbox {
      margin-bottom: 0; } }
  .cardbox .cardbox-heading {
    border-bottom: 1px solid #d7d7d7;
    font-size: 1.1rem;
    color: #0075ae;
    font-weight: bold;
    margin: 0;
    padding: 15px 20px; }
  .cardbox .cardbox-section {
    margin: 25px 0; }
    .cardbox .cardbox-section .section-heading {
      color: #333;
      font-size: 0.9rem;
      font-weight: bold;
      margin-bottom: 15px;
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 2px solid #333; }
  .cardbox .cardbox-fields {
    margin: 0 20px 20px; }
    .cardbox .cardbox-fields .field {
      margin-top: 15px; }
      .cardbox .cardbox-fields .field .name {
        color: #444;
        font-size: 0.9rem;
        font-weight: bold;
        display: block; }

.cardbox.-with-padding {
  padding: 15px 25px 25px; }

.cardbox-footer {
  border-top: 1px solid #d7d7d7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px; }
  .cardbox-footer a {
    margin-right: 8px; }
    .cardbox-footer a:last-child {
      margin-right: 0; }

.cardbox-table .table-header {
  border-bottom: 1px solid #e5e5e5; }

.cardbox-table .table-footer {
  border-top: 1px solid #e5e5e5; }

.cardbox-table .table-filtering {
  border-bottom: 1px dashed #ccc;
  padding: 5px 20px 15px; }
  .cardbox-table .table-filtering .criteria {
    background-color: #ffe4b3;
    border: 1px solid #fbbf51;
    border-radius: 3px;
    color: #444;
    font-size: 0.9rem;
    position: relative;
    display: inline-block;
    padding: 4px 24px 4px 10px;
    margin: 10px 10px 0 0;
    min-width: 100px; }
    .cardbox-table .table-filtering .criteria:hover {
      text-decoration: none; }
    .cardbox-table .table-filtering .criteria .name {
      color: #e06706;
      display: block;
      font-size: 0.8rem; }

.cardbox-table .table-actions {
  padding: 15px 20px; }
  .cardbox-table .table-actions .fa.fa-caret-down {
    color: #555;
    margin-left: 2px; }
  .cardbox-table .table-actions button:hover .fa.fa-caret-down {
    color: #fff; }

.cardbox-table .table-results {
  color: #555;
  padding: 15px 20px; }
  .cardbox-table .table-results .number {
    color: #333;
    font-weight: bold; }

.cardbox-table .table-download {
  color: #555;
  font-size: 0.85rem;
  padding: 15px 20px;
  text-align: right;
  vertical-align: 0; }
  .cardbox-table .table-download a {
    display: inline-block;
    margin-left: 5px;
    padding: 1px 6px;
    vertical-align: 0; }

.cardbox-table .table-no-objects {
  color: #666;
  font-size: 1.1rem;
  text-align: center;
  padding: 25px 0; }

.cardbox-table .table-pagination {
  padding: 15px 20px;
  text-align: right; }
  .cardbox-table .table-pagination .current {
    color: #333;
    font-size: 0.9rem;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle; }
    .cardbox-table .table-pagination .current .number {
      font-weight: bold; }
  .cardbox-table .table-pagination .pagination {
    display: inline-block;
    margin: 0;
    vertical-align: middle; }
    .cardbox-table .table-pagination .pagination li a {
      font-size: 0.85rem;
      padding: 5px 16px;
      text-align: center; }
      .cardbox-table .table-pagination .pagination li a, .cardbox-table .table-pagination .pagination li a:link, .cardbox-table .table-pagination .pagination li a:visited {
        background-color: #F2F2F2;
        border-color: #e5e5e5;
        color: #333; }
      .cardbox-table .table-pagination .pagination li a:hover, .cardbox-table .table-pagination .pagination li a:active {
        background-color: #0075ae;
        border-color: #0075ae;
        color: #fff;
        cursor: pointer; }
    .cardbox-table .table-pagination .pagination li.disabled a {
      color: #888;
      cursor: default; }
      .cardbox-table .table-pagination .pagination li.disabled a:hover {
        background-color: #F2F2F2;
        border-color: #e5e5e5; }

.table-default {
  margin: 0;
  height: 100%; }
  .table-default > tbody > tr > td {
    border-top: 1px solid #e5e5e5; }
  .table-default > thead > tr > th {
    border-bottom: none;
    border-top: 1px solid #e5e5e5;
    padding: 10px 8px; }
  .table-default > tbody > tr > td, .table-default > tr > td {
    padding-top: 8px;
    padding-bottom: 8px; }
  .table-default th {
    color: #0075ae;
    font-weight: normal; }
  .table-default tbody {
    height: 100%; }
  .table-default tr {
    height: 100%; }
  .table-default tr.clickable-row a {
    color: #444;
    display: inline-block;
    text-decoration: none;
    height: 100%;
    width: 100%; }
  .table-default tr.clickable-row:hover {
    background-color: #0077dd;
    color: #fff;
    cursor: pointer; }
    .table-default tr.clickable-row:hover a {
      color: #fff; }
    .table-default tr.clickable-row:hover .is_active {
      background-color: transparent;
      color: #fff; }
    .table-default tr.clickable-row:hover .is_inactive {
      background-color: transparent;
      color: #fff; }
  .table-default th, .table-default td {
    font-size: 15px; }
    .table-default th:first-child, .table-default td:first-child {
      padding-left: 20px; }
    .table-default th .is_active, .table-default td .is_active {
      background-color: #cff0da; }
    .table-default th .is_inactive, .table-default td .is_inactive {
      background-color: #fdd; }
  .table-default td.datetime .date {
    display: block; }
  .table-default td.datetime .time {
    font-size: 0.9rem;
    display: block; }
  .table-default td.name_email .name {
    color: #444;
    font-weight: bold;
    display: block; }
  .table-default td.name_email .email {
    font-size: 0.9rem;
    display: block; }
    .table-default td.name_email .email.no {
      color: #999; }
  .table-default tr.clickable-row:hover i {
    color: #fff; }
  .table-default tr.clickable-row:hover td.name_email .name {
    color: #fff; }

.searchbar {
  margin-bottom: 25px; }
  .searchbar .form-group {
    display: inline-block;
    margin: 0;
    vertical-align: top; }
    .searchbar .form-group .form-label {
      color: #444;
      font-size: 0.8rem;
      margin-bottom: 4px; }
    .searchbar .form-group .form-control {
      display: inline-block;
      width: auto; }
  .searchbar .pull-left .form-group {
    margin: 0 15px 0 0; }
  .searchbar .submit-buttons {
    margin-top: 26px; }
    .searchbar .submit-buttons .btn {
      font-size: 0.85rem;
      margin-right: 10px;
      padding: 6px 20px; }
    .searchbar .submit-buttons .button-submit {
      background-color: #666;
      border: 1px solid #444;
      color: #fff; }
      .searchbar .submit-buttons .button-submit:hover {
        background-color: #0089b3;
        border-color: #0089b3;
        color: #fff;
        cursor: pointer; }
    .searchbar .submit-buttons .button-reset {
      background-color: #ccc;
      border: 1px solid #ccc;
      color: #333; }
      .searchbar .submit-buttons .button-reset:hover {
        background-color: #0089b3;
        border-color: #0089b3;
        color: #fff;
        cursor: pointer; }
  .searchbar .filter-daterange .fa {
    color: #777;
    font-size: 0.8rem;
    padding-top: 10px; }
  .searchbar .filter-daterange input {
    padding-right: 30px;
    min-width: 205px; }
    .searchbar .filter-daterange input[readonly] {
      background-color: #fff;
      cursor: pointer; }

.byd-amount-unit {
  color: #555;
  font-size: 0.8em;
  margin-left: 1px; }

/* Buttons & Links */
/*
.button-primary {
    @include primary-button;

    &.-small {
        font-size: 14px;
        padding: 3px 15px;
    }

    &.-medium {
        padding: 8px 20px 7px;
    }
}

.button-default {
    @include default-button;

    &.-small {
        font-size: 14px;
        padding: 3px 15px;
    }

    &.-medium {
        padding: 8px 20px 7px;
    }
}

.link-default {
    &:link, &:visited {
        color: $color_link;
        text-decoration: underline;
    }

    &:hover, &:active {
        background-color: $color_link;
        color: #fff;
        text-decoration: underline;
    }
}

.link-small {
    &:link, &:visited {
        color: #666;
        font-size: 14px;
        text-decoration: underline;
    }

    &:hover, &:active {
        background-color: $color_link;
        color: #fff;
    }
}*/
.table-default td.amount .number {
  color: #444;
  font-weight: bold;
  display: block; }

.table-default td.amount .recurring {
  font-size: 0.8rem;
  display: block;
  margin-top: 2px; }

.table-default td.status .text {
  border-radius: 100px;
  color: #fff;
  font-size: 0.8rem;
  display: inline-block;
  padding: 0 10px; }
  .table-default td.status .text.good {
    background-color: #3d8e80;
    border: 1px solid #3d8e80; }

.table-default tr.clickable-row:hover td.amount .number {
  color: #fff; }

.table-default tr.clickable-row:hover td.status .text {
  background-color: #fff;
  border: 1px solid #fff;
  color: #0077dd; }

.table-donations th.datetime {
  width: 150px; }

.table-donations th.amount {
  width: 140px; }

.table-donations th.payment {
  width: 230px; }

.table-donations td.payment .method {
  color: #555;
  font-size: 0.8rem;
  display: block;
  margin-top: 2px; }

.table-donations tr.clickable-row:hover td.payment .method {
  color: #fff; }

.table-campaigns td.campaign-cell {
  padding: 12px 12px 18px 20px;
  text-align: left; }
  .table-campaigns td.campaign-cell .campaign_name {
    font-size: 16px;
    font-weight: bold; }
  .table-campaigns td.campaign-cell .campaign_link {
    margin-top: 3px; }
    .table-campaigns td.campaign-cell .campaign_link a {
      color: #777;
      font-size: 13px; }
  .table-campaigns td.campaign-cell .actions {
    margin-top: 15px; }
    .table-campaigns td.campaign-cell .actions .btn {
      font-size: 14px;
      margin-right: 10px;
      padding: 4px 12px; }
      .table-campaigns td.campaign-cell .actions .btn i {
        margin-right: 2px;
        vertical-align: -1px; }

.table-campaigns td .active, .table-campaigns td .inactive, .table-campaigns td .normal {
  border-radius: 3px;
  display: inline-block;
  padding: 0 7px; }

.table-campaigns td .active {
  background-color: #cff0da; }

.table-campaigns td .inactive {
  background-color: #fdd; }

.table-history th.datetime {
  width: 150px; }

.table-history th.action {
  width: 80px; }

.table-history th.status {
  width: 70px; }

.table-history td.datetime .date {
  display: block; }

.table-history td.datetime .time {
  font-size: 0.9rem;
  display: block; }

.table-donors th.num_donations {
  width: 240px; }

.table-donors th.sum_donations {
  width: 240px; }

.backyard-dashboard .summary .name {
  color: #333;
  font-weight: bold;
  font-size: 1rem; }

.backyard-dashboard .summary .desc {
  color: #777;
  font-size: 0.8rem;
  display: block; }

.backyard-dashboard .summary .number {
  color: #444;
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  margin-top: 5px; }
  .backyard-dashboard .summary .number .unit {
    font-size: 1rem; }

@media (max-width: 991px) {
  .backyard-dashboard .summary .summary-item {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 15px; } }

.backyard-dashboard h2 {
  margin: 25px 0 15px; }

.backyard-dashboard h3 {
  color: #333;
  font-weight: bold;
  font-size: 17px;
  margin: 25px 0 15px; }

.backyard-dashboard h4 {
  color: #333;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px; }

.backyard-dashboard .section-summary {
  margin: 23px 0 40px;
  padding: 0 20px; }
  .backyard-dashboard .section-summary .summary-box {
    background-color: #BBDEFB;
    border-radius: 4px;
    padding: 12px 18px; }
    .backyard-dashboard .section-summary .summary-box .caption {
      color: #456890;
      font-size: 16px; }
    .backyard-dashboard .section-summary .summary-box .number {
      color: #444;
      font-size: 20px;
      font-weight: bold;
      margin-top: 4px;
      display: block; }
      .backyard-dashboard .section-summary .summary-box .number .unit {
        font-size: 15px; }
  .backyard-dashboard .section-summary .summary-box-edu {
    background-color: #FAA91C; }

.backyard-campaign-summary .campaign-link {
  margin-bottom: 10px; }
  .backyard-campaign-summary .campaign-link a {
    color: #777;
    font-size: 14px; }

.backyard-campaign-summary .campaign-status {
  margin-top: 7px; }
  .backyard-campaign-summary .campaign-status .-status {
    color: #555;
    font-size: 14px;
    display: inline-block;
    margin-right: 20px; }
    .backyard-campaign-summary .campaign-status .-status:last-child {
      margin-right: 0; }
    .backyard-campaign-summary .campaign-status .-status .-value {
      color: #111;
      font-weight: bold;
      padding: 0 3px; }
    .backyard-campaign-summary .campaign-status .-status .is_active {
      background-color: #cff0da; }
    .backyard-campaign-summary .campaign-status .-status .is_inactive {
      background-color: #fdd; }

.backyard-campaign-summary .section-actions {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px; }
  .backyard-campaign-summary .section-actions .action-button {
    margin-right: 15px; }

.backyard-campaign-summary .section-statistics {
  padding: 20px 20px 0; }
  .backyard-campaign-summary .section-statistics ul {
    margin: 0;
    padding: 0; }
    .backyard-campaign-summary .section-statistics ul li {
      display: inline; }
  .backyard-campaign-summary .section-statistics .stats {
    display: inline-block;
    margin-right: 50px; }
    .backyard-campaign-summary .section-statistics .stats .name {
      color: #555;
      font-size: 16px; }
    .backyard-campaign-summary .section-statistics .stats .number {
      color: #333;
      font-size: 24px;
      font-weight: bold; }
    .backyard-campaign-summary .section-statistics .stats .unit {
      font-size: 16px;
      font-weight: normal; }

.backyard-campaign-summary .section-donations {
  margin-top: 20px; }
  .backyard-campaign-summary .section-donations .section-header {
    margin-left: 20px; }
  .backyard-campaign-summary .section-donations table {
    border-bottom: 1px solid #ddd; }
    .backyard-campaign-summary .section-donations table .datetime {
      width: 230px; }

.backyard-campaign-form .form-default {
  padding: 0 20px 20px; }

.backyard-campaign-form .more-controls {
  margin-top: 40px; }
  .backyard-campaign-form .more-controls h3 {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
    color: #555;
    font-size: 15px;
    font-weight: normal;
    padding: 12px 15px; }
    .backyard-campaign-form .more-controls h3 i {
      margin-right: 4px; }

.backyard-campaign-form .current-image {
  border: 1px dashed #ccc;
  border-radius: 4px;
  margin-top: 20px;
  padding: 15px 15px; }
  .backyard-campaign-form .current-image h4 {
    color: #333;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 15px;
    padding: 0; }
  .backyard-campaign-form .current-image .no-image {
    color: #777;
    font-size: 14px;
    margin: 0;
    padding: 0; }

.backyard-donations .searchbar .filter-keyword input {
  min-width: 240px; }

.backyard-donation .page-header h1 strong {
  font-weight: bold; }

.backyard-donation .donation-details .fields {
  margin: 15px 20px; }
  .backyard-donation .donation-details .fields .field {
    margin-bottom: 15px; }
    .backyard-donation .donation-details .fields .field .name {
      color: #777;
      font-size: 0.9rem;
      display: block; }

.backyard-donation .donation-details .field-amount .value, .backyard-donation .donation-details .field-date .value {
  font-size: 1.15rem;
  font-weight: bold; }

.backyard-donation .donation-details .field-amount .note, .backyard-donation .donation-details .field-date .note {
  color: #333;
  font-size: 0.9rem;
  display: block;
  margin-top: 1px; }

.backyard-donation .donation-details .field.field-donation-number .name {
  display: inline; }

.backyard-donation .donation-donors .donor-stats {
  border-top: 1px solid #d7d7d7;
  padding: 15px 20px; }
  .backyard-donation .donation-donors .donor-stats .field .name {
    color: #777;
    font-size: 0.9rem;
    display: block; }
  .backyard-donation .donation-donors .donor-stats .field .value {
    color: #444;
    font-weight: bold; }

.backyard-donation .payment-status {
  margin: 15px 20px 10px; }
  .backyard-donation .payment-status .name {
    color: #777;
    font-size: 0.8rem;
    display: block;
    margin-bottom: 3px; }
  .backyard-donation .payment-status .status {
    display: inline-block;
    background-color: #3d8e80;
    border-radius: 100px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 1px 10px; }
  .backyard-donation .payment-status .note {
    color: #333;
    font-size: 0.9rem;
    display: block;
    margin-top: 5px; }

.backyard-donation .payment-source {
  border-top: 1px dashed #ccc;
  padding: 15px 20px 20px; }
  .backyard-donation .payment-source .source-heading {
    color: #0075ae;
    font-size: 0.8rem;
    font-weight: bold; }
  .backyard-donation .payment-source .source-creditcard .card-holder {
    font-size: 1.1rem;
    font-weight: bold; }
  .backyard-donation .payment-source .source-creditcard .card-number {
    font-size: 1.1rem;
    margin-top: 3px; }
  .backyard-donation .payment-source .source-creditcard .card-expiry {
    margin-top: 5px; }

.backyard-donation .payment-history {
  margin: 35px 0 20px; }
  .backyard-donation .payment-history .cardbox-heading {
    border-bottom: none; }

/*
.backyard-table {
    font-size: 14px;

    a {
        color: #444;
        text-decoration: none;
    }

    th .unit {
        font-size: 12px;
        font-weight: normal;
    }

    th.date {
        width: 115px;
    }

    th.datetime {
        width: 170px;
    }

    th.type, th.status {
        width: 110px;
    }

    th.amount {
        width: 130px;
    }

    th.details {
        width: 60px;
    }

    tr.clickable-row {
        &:hover {
            background-color: #2f89bf;
            color: #fff;

            a {
                color: #fff;
            }
        }
    }
}
*/

/*# sourceMappingURL=backyard.css.map */