{% extends "base_email.html" %}
{% load static humanize common email %}

{% block preheader_text %}การโอนเงินสำเร็จเรียบร้อย ขอบคุณสำหรับการบริจาค {{ donation.amount | amount_short }} บาท ให้โครงการ{{ donation.campaign.name }}{% endblock %}

{% block head_image_url %}
    <img src="{{ settings.WEBSITE_URL }}{% static 'images/email/donated.png' %}" width="100" height="100" style="display: block; border: 0px;"/><br>
{% endblock %}

{% block head_title %}ขอบคุณสำหรับการบริจาค{% endblock %}
{% block head_subtitle %}เราได้ตรวจสอบการโอนเงินบริจาคของคุณเรียบร้อยแล้ว{% endblock %}

{% block email_body %}
    {% email_body %}
        {% email_donation donation %}
    {% end_email_body %}

    {% email_body %}
        {% email_twocolumn 'left' %}
            <p style="font-weight: 800;">ข้อมูลการชำระเงิน</p>
            <p><span style="color: #777777; font-size: 15px;">ชำระผ่าน</span><br><span style="line-height: 32px;">บัญชีธนาคาร</span></p>
        {% column %}
            {% if donation.invoice_addressee and donation.invoice_address %}
            <p style="font-weight: 800;">การออกใบเสร็จรับเงิน</p>
            <p><span style="color: #777777; font-size: 15px;">ออกในนาม</span><br><span style="line-height: 32px;">{{ donation.invoice_addressee }}</span><br><span style="font-size: 15px; line-height: 26px;">{{ donation.invoice_address }}</span></p>
            {% endif %}
        {% end_email_twocolumn %}
    {% end_email_body %}
{% endblock %}