{% extends "base_email.html" %}
{% load static humanize common email %}

{% block preheader_text %}กรุณายืนยันการโอนเงินจำนวน {{ donation.amount | amount_short }} บาท ให้โครงการ{{ donation.campaign.name }}{% endblock %}

{% block head_title %}กรุณายืนยันการโอนเงิน{% endblock %}
{% block head_subtitle %}ผู้บริจาคสามารถโอนเงินได้ตามข้อมูลบัญชีธนาคารด้านล่าง<br> แล้วส่งหลักฐานยืนยันการโอนเงินได้ที่ปุ่ม "ยืนยันการโอนเงิน" ด้านล่างนี้{% endblock %}

{% block email_body %}
    {% email_body %}
        {% email_twocolumn 'center' %}
            <img src="{{ settings.WEBSITE_URL }}{% static 'images/email/bank-scb.png' %}" width="100" height="60" style="display: block;" />
            <p>
                <span style="font-weight: 800;">ธนาคารไทยพานิชย์</span><br>
                <span style="font-size: 14px; color: #555555;">(สาขาเพชรบุรีตัดใหม่)</span><br>
                <span style="font-size: 15px; font-weight: 800; line-height: 30px;">เลขที่บัญชี 043-272833-9</span><br>
                <span style="font-size: 14px; color: #555555;">ชื่อบัญชี</span><br>
                <span style="font-size: 14px; line-height: 20px;">มูลนิธิบูรณะชนบทแห่งประเทศไทยฯ เพื่อโครงการเทใจ (TRRM FOR TAEJAI)</span>
            </p>
        {% column %}
            <img src="{{ settings.WEBSITE_URL }}{% static 'images/email/bank-ktb.png' %}" width="100" height="60" style="display: block;" />
            <p>
                <span style="font-weight: 800;">ธนาคารกรุงไทย</span><br>
                <span style="font-size: 14px; color: #555555;">(สาขาสุทธิสาร-รัชดา)</span><br>
                <span style="font-size: 15px; font-weight: 800; line-height: 30px;">เลขที่บัญชี 091-0-27177-1</span><br>
                <span style="font-size: 14px; color: #555555;">ชื่อบัญชี</span><br>
                <span style="font-size: 14px; line-height: 20px;">มูลนิธิบูรณะชนบทแห่งประเทศไทยเพื่อเทใจดอทคอม</span>
            </p>
        {% end_email_twocolumn %}
    {% end_email_body %}

    {% email_body %}
        {% email_action %}
            <a href="{{ confirmation_url }}" target="_blank" style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #000000; text-decoration: none; border-radius: 5px; background-color: #fa983e; padding: 10px 30px; border: 1px solid #d87832; display: block;">ยืนยันการโอนเงิน</a>
        {% footnote %}
            หรือจากลิงก์<br><a href="{{ confirmation_url }}" style="color: #666;">{{ confirmation_url }}</a>
        {% end_email_action %}
    {% end_email_body %}

    {% email_body %}
        {% email_donation donation %}
    {% end_email_body %}

    {% email_body %}
        {% email_twocolumn 'left' %}
            <p style="font-weight: 800;">ข้อมูลการชำระเงิน</p>
            <p><span style="color: #777777; font-size: 15px;">ชำระผ่าน</span><br><span style="line-height: 32px;">บัญชีธนาคาร</span></p>
        {% column %}
            {% if donation.invoice_addressee and donation.invoice_address %}
            <p style="font-weight: 800;">การออกใบเสร็จรับเงิน</p>
            <p><span style="color: #777777; font-size: 15px;">ออกในนาม</span><br><span style="line-height: 32px;">{{ donation.invoice_addressee }}</span><br><span style="font-size: 15px; line-height: 26px;">{{ donation.invoice_address }}</span></p>
            {% endif %}
        {% end_email_twocolumn %}
    {% end_email_body %}

{% endblock %}