{% extends "base_email.html" %}
{% load static common email %}

{% block preheader_text %}การาตรวจสอบการโอนเงินไม่ผ่าน กรุณาแจ้งยืนยันการโอนเงินอีกครั้ง{% endblock %}

{% block head_title %}กรุณาส่งหลักฐานยืนยันการโอนเงินอีกครั้ง{% endblock %}
{% block head_subtitle %}เจ้าหน้าที่ได้ตรวจสอบข้อมูลยืนยันโอนเงินของผู้บริจาคแล้วพบว่ายังไม่สามารถยืนยันการโอนเงินได้ หากผู้บริจาคโอนเงินเรียบร้อยแล้ว กรุณาตรวจสอบหลักฐานการโอนเงินแล้วลองส่งข้อมูลใหม่อีกครั้ง{% endblock %}
{% block head_more_subtitle %}<p style="font-size: 16px; font-weight: 400; line-height: 27px; color: #444444;">หากผู้บริจาคติดปัญหาใดๆ สามารถอีเมลแจ้งเจ้าหน้าที่ได้ที่ <a href="mailto:{% get_settings 'WEBSITE_SUPPORT_EMAIL' %}">{% get_settings 'WEBSITE_SUPPORT_EMAIL' %}</a></p>{% endblock %}

{% block email_body %}
    {% email_body %}
        {% email_action %}
            <a href="{{ confirmation_url }}" target="_blank" style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #000000; text-decoration: none; border-radius: 5px; background-color: #fa983e; padding: 10px 30px; border: 1px solid #d87832; display: block;">ยืนยันการโอนเงิน</a>
        {% end_email_action %}
    {% end_email_body %}

    {% email_body %}
        {% email_donation donation %}
    {% end_email_body %}

    {% email_body %}
        {% email_twocolumn 'left' %}
            <p style="font-weight: 800;">ข้อมูลการชำระเงิน</p>
            <p><span style="color: #777777; font-size: 15px;">ชำระผ่าน</span><br><span style="line-height: 32px;">บัญชีธนาคาร</span></p>
        {% column %}
            {% if donation.invoice_addressee and donation.invoice_address %}
            <p style="font-weight: 800;">การออกใบเสร็จรับเงิน</p>
            <p><span style="color: #777777; font-size: 15px;">ออกในนาม</span><br><span style="line-height: 32px;">{{ donation.invoice_addressee }}</span><br><span style="font-size: 15px; line-height: 26px;">{{ donation.invoice_address }}</span></p>
            {% endif %}
        {% end_email_twocolumn %}
    {% end_email_body %}
{% endblock %}
