{% extends "base_email.html" %}
{% load static humanize common email %}

{% block preheader_text %}ขอบคุณสำหรับการบริจาค {{ donation.amount | amount_short }} บาทประจำเดือน{{ sequence.due_date|date:"F Y" }} ให้โครงการ{{ donation.campaign.name }}{% endblock %}

{% block head_image_url %}
    <img src="{{ settings.WEBSITE_URL }}{% static 'images/email/donated.png' %}" width="100" height="100" style="display: block; border: 0px;"/><br>
{% endblock %}

{% block head_title %}ขอบคุณสำหรับการบริจาค{% endblock %}
{% block head_subtitle %}เราได้รับเงินบริจาคประจำเดือน <b style="font-weight: 800;">{{ sequence.due_date|date:"F Y" }}</b> ของคุณเรียบร้อยแล้ว<br><span style="color: #777; font-size: 14px;">ตัดเงินเมื่อวันที่ {{ transaction.created|date:"j N Y เวลา H:i น." }}</span>{% endblock %}

{% block email_body %}
    {% email_body %}
        {% email_donation donation %}
    {% end_email_body %}

    {% email_body %}
        {% email_twocolumn 'left' %}
            <p style="font-weight: 800;">ข้อมูลการชำระเงิน</p>
            <p><span style="color: #777777; font-size: 15px;">ชำระผ่าน</span><br><span style="line-height: 32px;">{{ payment_method }}</span>{% if extra_details %}<br><span style="font-size: 15px; line-height: 26px;">{{ extra_details.card_name }}<br>{{ extra_details.last_digits }}</span>{% endif %}</p>
        {% column %}
            {% if donation.invoice_addressee and donation.invoice_address %}
            <p style="font-weight: 800;">การออกใบเสร็จรับเงิน</p>
            <p><span style="color: #777777; font-size: 15px;">ออกในนาม</span><br><span style="line-height: 32px;">{{ donation.invoice_addressee }}</span><br><span style="font-size: 15px; line-height: 26px;">{{ donation.invoice_address }}</span></p>
            {% endif %}
        {% end_email_twocolumn %}
    {% end_email_body %}

    {% email_body %}
        {% email_footnote %}
            หากผู้บริจาคต้องการเปลี่ยนแปลงข้อมูลการบริจาค หรือหยุดการบริจาคแบบรายเดือน กรุณาส่งอีเมลแจ้งความต้องการมาที่ <a href="mailto:{{ settings.WEBSITE_SUPPORT_EMAIL }}">{{ settings.WEBSITE_SUPPORT_EMAIL }}</a>
        {% end_email_footnote %}
    {% end_email_body %}
{% endblock %}