{% extends "base_email.html" %}
{% load static humanize common email %}

{% block preheader_text %}บัตรเครดิตของคุณจะหมดอายุในเดือนนี้ กรุณาเปลี่ยนบัตรที่ใช้บริจาค{% endblock %}

{% block head_title %}บัตรเครดิตของคุณจะหมดอายุในเดือนนี้{% endblock %}
{% block head_subtitle %}ผู้บริจาคมีรายการบริจาคแบบรายเดือนที่ให้ตัดเงินบริจาคจากบัตรเครดิตที่กำลังจะหมดอายุ{% endblock %}
{% block head_more_subtitle %}
    <p style="border: 1px solid #ddd; padding: 10px 0;">
        <span style="color: #888888; font-size: 14px;">ข้อมูลบัตร</span><br>
        <b style="line-height: 32px;">{{extra_details.card_name}}</b><br>
        <span style="color: #666666; font-size: 15px;">{{extra_details.card_last_digits}}</span><br>
        <span style="line-height: 30px;">{{extra_details.card_expiration_month_year}}</span>
    </p>
    <p style="color: #444444;">
        หากผู้บริจาคต้องการช่วยเหลือโครงการอย่างต่อเนื่อง ผู้บริจาคสามารถเปลี่ยนบัตรที่ใช้ตัดเงินได้ที่ปุ่มด้านล่างนี้
    </p>
{% endblock %}

{% block email_body %}
    {% email_body %}
        {% email_action %}
            <a href="{{ donation_url }}" target="_blank" style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #000000; text-decoration: none; border-radius: 5px; background-color: #fa983e; padding: 10px 30px; border: 1px solid #d87832; display: block;">เปลี่ยนบัตรที่ใช้บริจาค</a>
        {% footnote %}
            ข้อมูลบัตรจะถูกดำเนินการอย่างปลอดภัยด้วยผู้ให้บริการที่ผ่านมาตรฐาน PCI-DSS (ดำเนินการโดย Omise)
        {% end_email_action %}
    {% end_email_body %}

    {% email_body %}
        {% email_donation donation %}
    {% end_email_body %}

    {% email_body %}
        {% email_twocolumn 'left' %}
            <p style="font-weight: 800;">ข้อมูลการชำระเงิน</p>
            <p><span style="color: #777777; font-size: 15px;">ชำระผ่าน</span><br><span style="line-height: 32px;">บัตรเครดิต</span></p>
        {% column %}
            {% if donation.invoice_addressee and donation.invoice_address %}
            <p style="font-weight: 800;">การออกใบเสร็จรับเงิน</p>
            <p><span style="color: #777777; font-size: 15px;">ออกในนาม</span><br><span style="line-height: 32px;">{{ donation.invoice_addressee }}</span><br><span style="font-size: 15px; line-height: 26px;">{{ donation.invoice_address }}</span></p>
            {% endif %}
        {% end_email_twocolumn %}
    {% end_email_body %}
{% endblock %}
