.btn-action-outline, .btn-action-outline:link, .btn-action-outline:visited {
    border: 2px solid $color_orange;
    color: $color_orange;

    &:hover, &:active {
        background-color: $color_orange;
        color: #fff;
    }
}

.btn-submit, .btn-submit:link, .btn-submit:visited {
    background-color: $color_green;
    color: #fff;

    &:hover, &:active {
        background-color: $color_green;
        color: #fff;
    }
}