
// OVERRIDE BOOTSTRAP ########################################

.btn {
    cursor: pointer;

    i.fa {
        margin-right: 3px;
    }
}

.has-error {
    border-color: $color_error_text;
}

form {
    .errorlist {
        margin: 0;
        padding: 0;

        li {
            @include fa-icon("\f071");

            background-color: $color_error_bg;
            color: $color_error_text;
            font-size: 16px;
            font-weight: bold;

            list-style: none;
            padding: 13px 20px;

            &:before {
                margin-right: 9px;
                font-size: 18px;
                vertical-align: -1px;
            }

            &:not(:first-child) {
                margin-top: 15px;
            }
        }

        &:not(:first-child) {
            margin-top: 15px;
        }
    }
}

@mixin styled-checkbox() {

}

