.navbar {
    background-color: #fff;
    padding: 15px 30px;
}

.navbar-inner {
    border-bottom: 1px solid #ddd;

    .navbar-brand {
        margin-right: 2.2rem;
    }

    .navbar-nav {
        .nav-link {
            color: #444;
            font-family: opensans-semibold, sans-serif;
            font-size: 17px;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .nav-actions {
        padding-top: 3px;

        a {
            font-family: opensans-semibold, sans-serif;
            font-size: 16px;
        }
    }
}
