.hidden {
    display: none;
}

@mixin fa-icon($content) {
    &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        content: $content;
        margin-right: 7px;
    }
}



