@charset "UTF-8";
html, body {
  background-color: #fff;
  margin: 0;
  padding: 0; }

footer {
  color: #999;
  text-align: center; }

@font-face {
  font-family: 'opensans-semibold';
  src: url("/static/fonts/OpenSans-Semibold-webfont.eot");
  src: url("/static/fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("/static/fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("/static/fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-regular';
  src: url("/static/fonts/OpenSans-Regular-webfont.eot");
  src: url("/static/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/OpenSans-Regular-webfont.woff") format("woff"), url("/static/fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("/static/fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-light';
  src: url("/static/fonts/OpenSans-Light-webfont.eot");
  src: url("/static/fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/OpenSans-Light-webfont.woff") format("woff"), url("/static/fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("/static/fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-extrabold';
  src: url("/static/fonts/OpenSans-ExtraBold-webfont.eot");
  src: url("/static/fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("/static/fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("/static/fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-bold';
  src: url("/static/fonts/OpenSans-Bold-webfont.eot");
  src: url("/static/fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/OpenSans-Bold-webfont.woff") format("woff"), url("/static/fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("/static/fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

.hidden {
  display: none; }

.btn-action-outline, .btn-action-outline:link, .btn-action-outline:visited {
  border: 2px solid #e96238;
  color: #e96238; }
  .btn-action-outline:hover, .btn-action-outline:active, .btn-action-outline:link:hover, .btn-action-outline:link:active, .btn-action-outline:visited:hover, .btn-action-outline:visited:active {
    background-color: #e96238;
    color: #fff; }

.btn-submit, .btn-submit:link, .btn-submit:visited {
  background-color: #00838F;
  color: #fff; }
  .btn-submit:hover, .btn-submit:active, .btn-submit:link:hover, .btn-submit:link:active, .btn-submit:visited:hover, .btn-submit:visited:active {
    background-color: #00838F;
    color: #fff; }

.block-messages {
  margin: 20px;
  padding: 0; }
  .block-messages li {
    list-style: none; }

.btn {
  cursor: pointer; }
  .btn i.fa {
    margin-right: 3px; }

.has-error {
  border-color: #d9534f; }

form .errorlist {
  margin: 0;
  padding: 0; }
  form .errorlist li {
    background-color: #f2dede;
    color: #d9534f;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    padding: 13px 20px; }
    form .errorlist li:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "";
      margin-right: 7px; }
    form .errorlist li:before {
      margin-right: 9px;
      font-size: 18px;
      vertical-align: -1px; }
    form .errorlist li:not(:first-child) {
      margin-top: 15px; }
  form .errorlist:not(:first-child) {
    margin-top: 15px; }

.navbar {
  background-color: #fff;
  padding: 15px 30px; }

.navbar-inner {
  border-bottom: 1px solid #ddd; }
  .navbar-inner .navbar-brand {
    margin-right: 2.2rem; }
  .navbar-inner .navbar-nav .nav-link {
    color: #444;
    font-family: opensans-semibold, sans-serif;
    font-size: 17px;
    padding-left: 1rem;
    padding-right: 1rem; }
  .navbar-inner .nav-actions {
    padding-top: 3px; }
    .navbar-inner .nav-actions a {
      font-family: opensans-semibold, sans-serif;
      font-size: 16px; }

.page-homepage .hero {
  margin: 15px 0; }

.page-homepage h2 {
  color: #444;
  font-family: opensans-bold, sans-serif;
  font-size: 34px;
  text-align: center; }

.page-homepage .subhead {
  color: #666;
  font-family: opensans-regular, sans-serif;
  font-size: 18px;
  text-align: center; }

.page-homepage .hero {
  background: url("/static/images/website/cover2.jpg");
  background-size: cover;
  padding-bottom: 200px; }
  .page-homepage .hero .logo {
    padding: 22px 0 0 30px; }
  .page-homepage .hero .message {
    margin-top: 140px;
    text-align: center; }
    .page-homepage .hero .message h1 {
      font-family: opensans-bold, sans-serif;
      font-size: 36px;
      color: #fff;
      text-shadow: 0 0 2px #000; }
    .page-homepage .hero .message p {
      font-family: opensans-light, sans-serif;
      font-size: 24px;
      color: #fff;
      line-height: 30px;
      text-shadow: 0 0 2px #000;
      margin-top: 15px; }
  .page-homepage .hero .video a {
    color: rgba(255, 255, 255, 0.9);
    font-size: 80px; }

.page-homepage .metrics {
  background-color: #eee;
  margin-top: 25px;
  padding: 30px 0 40px;
  text-align: center; }
  .page-homepage .metrics .story {
    margin-bottom: 30px; }
    .page-homepage .metrics .story h3 {
      color: #333;
      font-family: opensans-bold, sans-serif;
      font-size: 24px;
      margin-bottom: 17px; }
    .page-homepage .metrics .story p {
      color: #555;
      font-family: opensans-regular, sans-serif;
      line-height: 1.55em; }
  .page-homepage .metrics .name {
    color: #666;
    font-family: opensans-regular, sans-serif;
    font-size: 20px; }
  .page-homepage .metrics .number {
    font-family: opensans-bold, sans-serif;
    font-size: 24px;
    margin-top: 5px;
    display: block; }

.page-homepage .cta {
  margin-top: 60px;
  text-align: center; }
  .page-homepage .cta p {
    color: #333;
    font-family: opensans-regular, sans-serif;
    font-size: 18px;
    margin-bottom: 20px; }
  .page-homepage .cta .btn-action {
    background-color: #f56f45;
    color: #fff;
    margin: 0 10px;
    padding: 12px 45px;
    display: block; }
  .page-homepage .cta .button-desc {
    color: #666;
    font-size: 14px;
    margin: 10px 0 0; }

.page-homepage .campaigns {
  margin-top: 60px; }
  .page-homepage .campaigns .subhead {
    margin-bottom: 30px; }
  .page-homepage .campaigns .cover img {
    width: 100%; }
  .page-homepage .campaigns .name {
    color: #333;
    font-family: opensans-bold, sans-serif;
    font-size: 18px;
    padding: 13px 0 8px; }
    .page-homepage .campaigns .name a {
      color: #296eaf;
      text-decoration: underline; }
  .page-homepage .campaigns .teaser {
    color: #555;
    font-size: 15px; }
  .page-homepage .campaigns .action {
    margin-top: 20px;
    text-align: center; }
    .page-homepage .campaigns .action .btn-donate {
      padding: 12px 0;
      font-family: opensans-semibold, sans-serif;
      font-size: 18px;
      width: 70%;
      background-color: #f56f45;
      color: #fff; }

.page-homepage .petitions {
  margin-top: 60px; }
  .page-homepage .petitions .subhead {
    margin-bottom: 30px; }
  .page-homepage .petitions .cover img {
    width: 100%; }
  .page-homepage .petitions .name {
    color: #333;
    font-family: opensans-bold, sans-serif;
    font-size: 18px;
    padding: 13px 0 8px; }
    .page-homepage .petitions .name a {
      color: #296eaf;
      text-decoration: underline; }
  .page-homepage .petitions .teaser {
    color: #555; }
  .page-homepage .petitions .action {
    margin-top: 15px;
    text-align: center; }
    .page-homepage .petitions .action .btn-donate {
      padding: 15px 0;
      font-family: opensans-semibold, sans-serif;
      font-size: 20px;
      width: 80%;
      background-color: #348AA7;
      color: #fff; }

.page-homepage .newsletter {
  background-color: #eee;
  margin-top: 60px;
  padding: 40px 0; }

.page-homepage .footer {
  background-color: #525174;
  margin-top: 20px;
  padding: 20px 0 60px;
  color: #fff; }

.page-donate h1 {
  font-family: opensans-bold, sans-serif;
  color: #555;
  font-size: 24px;
  margin: 40px 0 30px; }
  .page-donate h1 .head {
    font-family: opensans-bold, sans-serif;
    color: #f56f45;
    font-size: 40px;
    line-height: 33px;
    display: block;
    margin-bottom: 13px; }

.page-donate .donate-header p {
  font-family: opensans-regular, sans-serif;
  color: #555;
  font-size: 17px; }

.page-donate .donate-form {
  margin-top: 50px; }
  .page-donate .donate-form legend {
    font-family: opensans-bold, sans-serif;
    color: #0277BD;
    font-size: 20px;
    margin-bottom: 20px; }
  .page-donate .donate-form fieldset {
    margin: 0;
    padding: 0; }
  .page-donate .donate-form .form-error-nonfield .errorlist {
    margin-bottom: 20px; }
  .page-donate .donate-form .form-amount label.form-check-label {
    border: 2px solid #ddd;
    border-radius: 10px;
    display: block;
    margin: 0 0 13px;
    padding: 20px; }
    .page-donate .donate-form .form-amount label.form-check-label .radio {
      color: #ddd;
      font-size: 24px;
      margin: 3px 8px 0 0;
      position: absolute; }
    .page-donate .donate-form .form-amount label.form-check-label .radio:before {
      content: "\f10c"; }
    .page-donate .donate-form .form-amount label.form-check-label.active {
      border: 2px solid #3999d2;
      background-color: #edf6fc; }
      .page-donate .donate-form .form-amount label.form-check-label.active .radio {
        color: #0277BD; }
      .page-donate .donate-form .form-amount label.form-check-label.active .radio:before {
        content: "\f058"; }
    .page-donate .donate-form .form-amount label.form-check-label.custom .radio {
      margin-top: 5px; }
    .page-donate .donate-form .form-amount label.form-check-label.custom input[type="number"] {
      font-size: 18px;
      display: inline-block;
      margin-bottom: 6px;
      margin-left: 31px;
      height: 35px;
      width: 120px; }
    .page-donate .donate-form .form-amount label.form-check-label.custom .unit {
      color: #333;
      font-weight: bold;
      margin-left: 4px; }
  .page-donate .donate-form .form-amount .num {
    font-family: opensans-bold, sans-serif;
    color: #333;
    font-size: 20px;
    display: block;
    padding-left: 31px; }
  .page-donate .donate-form .form-amount .desc {
    color: #555;
    font-size: 15px;
    display: block;
    margin-top: 2px; }
  .page-donate .donate-form .form-recurring {
    background-color: #eee;
    border-left: 6px solid #888;
    margin: 20px 0;
    padding: 16px 0 0 17px; }
    .page-donate .donate-form .form-recurring .checkbox {
      padding-left: 12px; }
    .page-donate .donate-form .form-recurring .checkbox label {
      font-family: opensans-bold, sans-serif;
      cursor: pointer;
      display: inline-block;
      position: relative;
      padding-left: 12px;
      line-height: 27px;
      margin: 0;
      color: #333;
      font-size: 19px; }
    .page-donate .donate-form .form-recurring .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 28px;
      height: 28px;
      left: 0;
      margin-left: -29px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .page-donate .donate-form .form-recurring .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 27px;
      height: 27px;
      left: 0;
      top: 0;
      margin-left: -28px;
      padding-left: 5px;
      padding-top: 1px;
      font-size: 13px;
      color: #555555; }
    .page-donate .donate-form .form-recurring p {
      color: #555;
      font-size: 15px;
      padding: 5px 10px 0 30px; }
    .page-donate .donate-form .form-recurring .checkbox input[type="checkbox"] {
      opacity: 0; }
    .page-donate .donate-form .form-recurring .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .page-donate .donate-form .form-recurring .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c";
      font-size: 17px; }
    .page-donate .donate-form .form-recurring .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
    .page-donate .donate-form .form-recurring .checkbox input[type="checkbox"]:disabled + label::before {
      background-color: #eeeeee;
      cursor: not-allowed; }
    .page-donate .donate-form .form-recurring .checkbox input[type="checkbox"]:checked + label::before {
      background-color: #428bca;
      border-color: #428bca; }
    .page-donate .donate-form .form-recurring .checkbox input[type="checkbox"]:checked + label::after {
      color: #fff; }
  .page-donate .donate-form .form-donor-container {
    background-color: #f4f4f4;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 35px 0; }
  .page-donate .donate-form .form-donor .form-group {
    margin-bottom: 1.5rem; }
  .page-donate .donate-form .form-donor label {
    font-family: opensans-semibold, sans-serif;
    color: #444; }
  .page-donate .donate-form .form-donor input[type="text"], .page-donate .donate-form .form-donor input[type="number"], .page-donate .donate-form .form-donor input[type="email"] {
    font-size: 17px;
    height: 42px; }
  .page-donate .donate-form .form-donor textarea {
    font-size: 17px;
    height: 100px; }
  .page-donate .donate-form .form-donor .errorlist {
    margin-top: 10px; }
    .page-donate .donate-form .form-donor .errorlist li {
      font-size: 14px;
      padding: 10px 20px; }
  .page-donate .donate-form .form-payment .card {
    border: none;
    margin-bottom: 10px; }
    .page-donate .donate-form .form-payment .card .card-header {
      background: transparent;
      border: none;
      padding: 0; }
      .page-donate .donate-form .form-payment .card .card-header h5 a:link, .page-donate .donate-form .form-payment .card .card-header h5 a:visited {
        color: #444;
        font-family: opensans-bold, sans-serif;
        font-size: 16px;
        text-decoration: none;
        display: block;
        padding: 1rem 1.25rem;
        margin-bottom: 0;
        background-color: #edf6fc;
        border: 2px solid #3999d2;
        border-radius: .25rem; }
        .page-donate .donate-form .form-payment .card .card-header h5 a:link .caret, .page-donate .donate-form .form-payment .card .card-header h5 a:visited .caret {
          color: #0277BD;
          font-size: 24px;
          margin-right: 8px;
          vertical-align: -3px; }
        .page-donate .donate-form .form-payment .card .card-header h5 a:link .caret:before, .page-donate .donate-form .form-payment .card .card-header h5 a:visited .caret:before {
          content: "\f058"; }
      .page-donate .donate-form .form-payment .card .card-header h5 a:hover, .page-donate .donate-form .form-payment .card .card-header h5 a:active {
        text-decoration: none; }
      .page-donate .donate-form .form-payment .card .card-header h5 a.collapsed:link, .page-donate .donate-form .form-payment .card .card-header h5 a.collapsed:visited {
        background-color: transparent;
        border: 2px solid #ddd;
        color: #333; }
        .page-donate .donate-form .form-payment .card .card-header h5 a.collapsed:link .caret, .page-donate .donate-form .form-payment .card .card-header h5 a.collapsed:visited .caret {
          color: #ddd; }
        .page-donate .donate-form .form-payment .card .card-header h5 a.collapsed:link .caret:before, .page-donate .donate-form .form-payment .card .card-header h5 a.collapsed:visited .caret:before {
          content: "\f10c"; }
  .page-donate .donate-form .form-payment .form-error-payment_option {
    margin-top: 15px; }
  .page-donate .donate-form .form-creditcard label {
    font-family: opensans-semibold, sans-serif;
    color: #444; }
  .page-donate .donate-form .form-creditcard input[type="text"], .page-donate .donate-form .form-creditcard input[type="number"], .page-donate .donate-form .form-creditcard input[type="email"] {
    font-size: 17px;
    height: 42px; }
  .page-donate .donate-form .form-creditcard .-expiry label {
    display: block; }
  .page-donate .donate-form .form-creditcard .-expiry .form-control {
    display: inline;
    width: 110px; }
    @media (max-width: 320px) {
      .page-donate .donate-form .form-creditcard .-expiry .form-control {
        width: 100px; } }
  .page-donate .donate-form .form-creditcard .-expiry .divider {
    padding: 0 5px; }
  @media (max-width: 991px) {
    .page-donate .donate-form .form-creditcard .-security {
      margin-top: 25px; } }
  .page-donate .donate-form .form-creditcard .-security label {
    display: block; }
  .page-donate .donate-form .form-creditcard .-security .form-control {
    display: inline;
    width: 110px; }
    @media (max-width: 320px) {
      .page-donate .donate-form .form-creditcard .-security .form-control {
        width: 100px; } }
  .page-donate .donate-form .form-creditcard .form-text {
    color: #555; }
  .page-donate .donate-form .form-ibanking legend {
    color: #444;
    font-size: 18px; }
  .page-donate .donate-form .form-ibanking .form-check-label {
    margin-bottom: 8px; }
    .page-donate .donate-form .form-ibanking .form-check-label .form-check-input {
      margin-top: 18px; }
    .page-donate .donate-form .form-ibanking .form-check-label i {
      display: inline-block;
      position: absolute;
      margin: 0 0 0 5px; }
      .page-donate .donate-form .form-ibanking .form-check-label i:before {
        color: white;
        padding: 8px;
        font-size: 2em; }
    .page-donate .donate-form .form-ibanking .form-check-label .bank-name {
      font-family: opensans-semibold, sans-serif;
      font-size: 16px;
      margin-left: 66px;
      vertical-align: middle; }
    .page-donate .donate-form .form-ibanking .form-check-label .desc {
      color: #777;
      font-size: 14px;
      display: block;
      margin-left: 66px; }
  .page-donate .donate-form .form-ibanking .form-text {
    color: #555; }
  .page-donate .donate-form .form-linepay {
    position: relative; }
    .page-donate .donate-form .form-linepay .icon_phone {
      position: absolute;
      font-size: 60px;
      margin-top: -19px; }
    .page-donate .donate-form .form-linepay .head {
      color: #333;
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 0.4rem;
      margin-left: 40px; }
      .page-donate .donate-form .form-linepay .head i {
        font-size: 20px; }
    .page-donate .donate-form .form-linepay p {
      color: #555;
      font-size: 15px;
      margin-left: 40px;
      margin-bottom: 0; }
  .page-donate .donate-form .form-transfer .bank-account {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px; }
    .page-donate .donate-form .form-transfer .bank-account:last-child {
      border-bottom: none;
      margin: 0;
      padding: 0; }
    .page-donate .donate-form .form-transfer .bank-account i {
      display: inline-block;
      position: absolute;
      margin: 0; }
      .page-donate .donate-form .form-transfer .bank-account i:before {
        color: white;
        padding: 8px;
        font-size: 2em; }
    .page-donate .donate-form .form-transfer .bank-account .account-info {
      margin-left: 65px; }
    .page-donate .donate-form .form-transfer .bank-account .bank-name {
      color: #333;
      font-size: 16px; }
      .page-donate .donate-form .form-transfer .bank-account .bank-name strong {
        font-family: opensans-semibold, sans-serif;
        font-weight: normal; }
    .page-donate .donate-form .form-transfer .bank-account .account-number {
      display: block;
      font-size: 20px;
      font-family: opensans-bold, sans-serif; }
    .page-donate .donate-form .form-transfer .bank-account .account-name {
      color: #666; }
  .page-donate .donate-form .form-donate-faq {
    margin-top: 45px; }
    .page-donate .donate-form .form-donate-faq .-block {
      margin-bottom: 30px; }
      .page-donate .donate-form .form-donate-faq .-block h3 {
        color: #444;
        font-family: opensans-bold, sans-serif;
        font-size: 18px;
        margin-bottom: 10px; }
      .page-donate .donate-form .form-donate-faq .-block p {
        color: #555;
        font-size: 15px; }
  .page-donate .donate-form .form-actions {
    margin-top: 30px;
    margin-bottom: 70px; }
    .page-donate .donate-form .form-actions .btn-submit {
      line-height: 1em;
      padding: 15px 45px;
      vertical-align: middle; }

.page-campaign h1 {
  color: #333;
  font-family: opensans-bold, sans-serif;
  font-size: 34px; }

.page-campaign .subtitle {
  font-family: opensans-semibold, sans-serif;
  font-size: 24px;
  color: #555; }

/*# sourceMappingURL=styles.css.map */