.page-campaign {

    h1 {
        color: #333;
        font-family: opensans-bold, sans-serif;
        font-size: 34px;
    }

    .subtitle {
        font-family: opensans-semibold, sans-serif;
        font-size: 24px;
        color: #555;
    }

}