.page-product {
    .product {
        margin-top: 10px;
    }

    .product-cover {
        background-color: #bbb;
        height: 300px;
        width: 300px;

        margin-bottom: 20px;
    }

    h1 {
        color: #333;
        font-size: 32px;
        font-weight: normal;
        margin: 15px 0;
    }

    .product-teaser {
        color: #666;
        font-size: 18px;
        line-height: 30px;
    }

    .checkout-form {
        border-top: 2px solid #eee;

        margin-top: 10px;
        padding-top: 15px;

        .price {
            color: #444;
            font-size: 17px;
            font-weight: bold;

            .number {
                color: #C30;
                font-size: 30px;
                margin-right: 2px;
            }
        }

        .price.with_sale {
            .number {
                color: #777;
                font-size: 20px;
                text-decoration: line-through;
            }
        }

        .sale_price {
            .number {
                color: #C30;
                font-size: 30px;
                font-weight: bold;
                margin-right: 2px;
            }
        }

        .form-quantity {
            margin-top: 10px;

            label {
                color: #666;
                font-size: 14px;
                margin-bottom: 5px;
            }

            input {
                width: 100px;
            }
        }

        .submit {
            margin-top: 30px;

            .btn-primary {
                padding: 10px 40px;
            }
        }

        .existed {
            color: #cc7a33;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}