.page-donate {
    h1 {
        @include styled-font('bold');

        color: #555;
        font-size: 24px;

        margin: 40px 0 30px;

        .head {
            @include styled-font('bold');

            color: #f56f45;
            font-size: 40px;
            line-height: 33px;

            display: block;
            margin-bottom: 13px;
        }
    }

    .donate-header {
        p {
            @include styled-font('regular');

            color: #555;
            font-size: 17px;
        }
    }

    .donate-form {
        margin-top: 50px;

        legend {
            @include styled-font('bold');

            color: #0277BD;
            font-size: 20px;

            margin-bottom: 20px;
        }

        fieldset {
            margin: 0;
            padding: 0;
        }

        .form-error-nonfield {
            .errorlist {
                margin-bottom: 20px;
            }
        }

        .form-amount {
            label.form-check-label {
                border: 2px solid #ddd;
                border-radius: 10px;
                display: block;
                margin: 0 0 13px;
                padding: 20px;

                .radio {
                    color: #ddd;
                    font-size: 24px;
                    margin: 3px 8px 0 0;
                    position: absolute;
                }

                .radio:before {
                    content: "\f10c";
                }

                &.active {
                    border: 2px solid #3999d2;
                    background-color: #edf6fc;

                    .radio {
                        color: #0277BD;
                    }

                    .radio:before {
                        content: "\f058";
                    }
                }

                &.custom {
                    .radio {
                        margin-top: 5px;
                    }

                    input[type="number"] {
                        font-size: 18px;

                        display: inline-block;
                        margin-bottom: 6px;
                        margin-left: 31px;
                        height: 35px;
                        width: 120px;
                    }

                    .unit {
                        color: #333;
                        font-weight: bold;
                        margin-left: 4px;
                    }
                }
            }

            .num {
                @include styled-font('bold');

                color: #333;
                font-size: 20px;
                display: block;
                padding-left: 31px;
            }

            .desc {
                color: #555;
                font-size: 15px;
                display: block;
                margin-top: 2px;
            }
        }

        .form-recurring {
            background-color: #eee;
            border-left: 6px solid #888;
            margin: 20px 0;
            padding: 16px 0 0 17px;

            .checkbox {
                padding-left: 12px;
            }

            .checkbox label {
                @include styled-font('bold');

                cursor: pointer;
                display: inline-block;
                position: relative;
                padding-left: 12px;
                line-height: 27px;
                margin: 0;
                color: #333;
                font-size: 19px;
            }

            .checkbox label::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 28px;
                height: 28px;
                left: 0;
                margin-left: -29px;
                border: 1px solid #cccccc;
                border-radius: 3px;
                background-color: #fff;
                -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            }

            .checkbox label::after {
                display: inline-block;
                position: absolute;
                width: 27px;
                height: 27px;
                left: 0;
                top: 0;
                margin-left: -28px;
                padding-left: 5px;
                padding-top: 1px;
                font-size: 13px;
                color: #555555;
            }

            p {
                color: #555;
                font-size: 15px;
                padding: 5px 10px 0 30px;
            }

            .checkbox input[type="checkbox"] {
                opacity: 0;
            }

            .checkbox input[type="checkbox"]:focus + label::before {
                outline: thin dotted;
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px;
            }
            .checkbox input[type="checkbox"]:checked + label::after {
                font-family: 'FontAwesome';
                content: "\f00c";
                font-size: 17px;
            }
            .checkbox input[type="checkbox"]:disabled + label {
                opacity: 0.65;
            }
            .checkbox input[type="checkbox"]:disabled + label::before {
                background-color: #eeeeee;
                cursor: not-allowed;
            }

            .checkbox input[type="checkbox"]:checked + label::before {
                background-color: #428bca;
                border-color: #428bca;
            }
            .checkbox input[type="checkbox"]:checked + label::after {
                color: #fff;
            }
        }

        .form-donor-container {
            background-color: #f4f4f4;
            margin-top: 35px;
            margin-bottom: 35px;
            padding: 35px 0;
        }

        .form-donor {
            .form-group {
                margin-bottom: 1.5rem;
            }

            label {
                @include styled-font('semibold');
                color: #444;
            }

            input {
                &[type="text"], &[type="number"], &[type="email"] {
                    font-size: 17px;
                    height: 42px;
                }
            }

            textarea {
                font-size: 17px;
                height: 100px;
            }

            .errorlist {
                margin-top: 10px;

                li {
                    font-size: 14px;
                    padding: 10px 20px;
                }
            }
        }

        .form-payment {
            .card {
                border: none;
                margin-bottom: 10px;

                .card-header {
                    background: transparent;
                    border: none;
                    padding: 0;

                    h5 {
                        a:link, a:visited {
                            color: #444;
                            font-family: opensans-bold, sans-serif;
                            font-size: 16px;
                            text-decoration: none;

                            display: block;
                            padding: 1rem 1.25rem;
                            margin-bottom: 0;

                            background-color: #edf6fc;
                            border: 2px solid #3999d2;
                            border-radius: .25rem;

                            .caret {
                                color: #0277BD;
                                font-size: 24px;
                                margin-right: 8px;
                                vertical-align: -3px;
                            }

                            .caret:before {
                                content: "\f058";
                            }
                        }

                        a:hover, a:active {
                            text-decoration: none;
                        }

                        a.collapsed:link, a.collapsed:visited {
                            background-color: transparent;
                            border: 2px solid #ddd;
                            color: #333;

                            .caret {
                                color: #ddd;
                            }

                            .caret:before {
                                content: "\f10c";
                            }
                        }
                    }
                }
            }

            .form-error-payment_option {
                margin-top: 15px;
            }
        }

        .form-creditcard {
            label {
                @include styled-font('semibold');
                color: #444;
            }

            input {
                &[type="text"], &[type="number"], &[type="email"] {
                    font-size: 17px;
                    height: 42px;
                }
            }

            .-expiry {
                label {
                    display: block;
                }

                .form-control {
                    display: inline;
                    width: 110px;

                    @media (max-width: 320px) {
                        width: 100px;
                    }
                }

                .divider {
                    padding: 0 5px;
                }
            }

            .-security {
                @media (max-width: 991px) {
                    margin-top: 25px;
                }

                label {
                    display: block;
                }

                .form-control {
                    display: inline;
                    width: 110px;

                    @media (max-width: 320px) {
                        width: 100px;
                    }
                }
            }

            .form-text {
                color: #555;
            }
        }

        .form-ibanking {
            legend {
                color: #444;
                font-size: 18px;
            }

            .form-check-label {
                margin-bottom: 8px;

                .form-check-input {
                    margin-top: 18px;
                }

                i {
                    display: inline-block;
                    position: absolute;
                    margin: 0 0 0 5px;

                    &:before {
                        color: white;
                        padding: 8px;
                        font-size: 2em;
                    }
                }

                .bank-name {
                    font-family: opensans-semibold, sans-serif;
                    font-size: 16px;
                    margin-left: 66px;
                    vertical-align: middle;
                }

                .desc {
                    color: #777;
                    font-size: 14px;
                    display: block;
                    margin-left: 66px;
                }
            }

            .form-text {
                color: #555;
            }
        }

        .form-linepay {
            position: relative;

            .icon_phone {
                position: absolute;
                font-size: 60px;
                margin-top: -19px;
            }

            .head {
                color: #333;
                font-size: 17px;
                font-weight: bold;
                margin-bottom: 0.4rem;
                margin-left: 40px;

                i {
                    font-size: 20px;
                }
            }

            p {
                color: #555;
                font-size: 15px;
                margin-left: 40px;
                margin-bottom: 0;
            }
        }

        .form-transfer {
            .bank-account {
                border-bottom: 1px solid #ddd;
                padding-bottom: 15px;
                margin-bottom: 20px;

                &:last-child {
                    border-bottom: none;
                    margin: 0;
                    padding: 0;
                }

                i {
                    display: inline-block;
                    position: absolute;
                    margin: 0;

                    &:before {
                        color: white;
                        padding: 8px;
                        font-size: 2em;
                    }
                }

                .account-info {
                    margin-left: 65px;
                }

                .bank-name {
                    color: #333;
                    font-size: 16px;

                    strong {
                        font-family: opensans-semibold, sans-serif;
                        font-weight: normal;
                    }
                }

                .account-number {
                    display: block;
                    font-size: 20px;
                    font-family: opensans-bold, sans-serif;
                }

                .account-name {
                    color: #666;
                }
            }
        }

        .form-donate-faq {
            margin-top: 45px;

            .-block {
                margin-bottom: 30px;

                h3 {
                    color: #444;
                    font-family: opensans-bold, sans-serif;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                p {
                    color: #555;
                    font-size: 15px;
                }
            }
        }

        .form-actions {
            margin-top: 30px;
            margin-bottom: 70px;

            .btn-submit {
                line-height: 1em;
                padding: 15px 45px;
                vertical-align: middle;
            }
        }
    }
}