.page-cart {
    .cart {
        border: 1px dashed #ccc;
        margin: 20px;
        padding: 20px;
    }

    .cart-items {
        margin-bottom: 25px;

        li {
            margin-bottom: 15px;

            .name {
                font-weight: bold;
            }

            .details {
                font-size: 14px;
                color: #666;
            }

            .total {
                color: #C30;
                font-weight: bold;
            }

            .actions {
                font-size: 13px;

                a {
                    text-decoration: underline;
                }
            }
        }
    }

    .cart-total {
        background-color: #eee;
        margin-bottom: 25px;
        padding: 20px;

        .subtotal {
            color: #555;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .total {
            font-size: 20px;

            .number {
                color: #C30;
                font-weight: bold;
            }
        }
    }
}