.page-homepage {
    .hero {
        margin: 15px 0;
    }


    h2 {
        //color: #513B56;
        color: #444;
        font-family: opensans-bold, sans-serif;
        font-size: 34px;
        text-align: center;
    }

    .subhead {
        color: #666;
        font-family: opensans-regular, sans-serif;
        font-size: 18px;
        text-align: center;
    }

    .hero {
        background: url("/static/images/website/cover2.jpg");
        background-size: cover;
        padding-bottom: 200px;

        .logo {
            padding: 22px 0 0 30px;
        }

        .message {
            margin-top: 140px;
            text-align: center;

            h1 {
                font-family: opensans-bold, sans-serif;
                font-size: 36px;
                color: #fff;
                text-shadow: 0 0 2px #000;
            }

            p {
                font-family: opensans-light, sans-serif;
                font-size: 24px;
                color: #fff;
                line-height: 30px;
                text-shadow: 0 0 2px #000;
                margin-top: 15px;
            }
        }

        .video {
            a {
                color: rgba(255, 255, 255, 0.9);
                font-size: 80px;

            }
        }
    }

    .metrics {
        background-color: #eee;
        margin-top: 25px;
        padding: 30px 0 40px;
        text-align: center;

        .story {
            margin-bottom: 30px;

            h3 {
                color: #333;
                font-family: opensans-bold, sans-serif;
                font-size: 24px;
                margin-bottom: 17px;
            }

            p {
                color: #555;
                font-family: opensans-regular, sans-serif;
                line-height: 1.55em;
            }
        }

        .since {

        }

        .name {
            color: #666;
            font-family: opensans-regular, sans-serif;
            font-size: 20px;
        }

        .number {
            font-family: opensans-bold, sans-serif;
            font-size: 24px;

            margin-top: 5px;
            display: block;

            .unit {

            }
        }
    }

    .cta {
        margin-top: 60px;
        text-align: center;

        p {
            color: #333;
            font-family: opensans-regular, sans-serif;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .btn-action {
            background-color: #f56f45;
            color: #fff;
            margin: 0 10px;
            padding: 12px 45px;

            display: block;
        }

        .button-desc {
            color: #666;
            font-size: 14px;
            margin: 10px 0 0;
        }
    }

    .campaigns {
        margin-top: 60px;

        .subhead {
            margin-bottom: 30px;
        }

        .cover {
            img {
                width: 100%;
            }
        }

        .name {
            color: #333;
            font-family: opensans-bold, sans-serif;
            font-size: 18px;
            padding: 13px 0 8px;

            a {
                color: #296eaf;
                text-decoration: underline;
            }
        }

        .teaser {
            color: #555;
            font-size: 15px;
        }

        .action {
            margin-top: 20px;
            text-align: center;

            .btn-donate {
                padding: 12px 0;
                font-family: opensans-semibold, sans-serif;
                font-size: 18px;
                width: 70%;

                //background-color: #0277BD;
                background-color: #f56f45;
                color: #fff;
            }
        }
    }

    .petitions {
        margin-top: 60px;

        .subhead {
            margin-bottom: 30px;
        }

        .cover {
            img {
                width: 100%;
            }
        }

        .name {
            color: #333;
            font-family: opensans-bold, sans-serif;
            font-size: 18px;
            padding: 13px 0 8px;

            a {
                color: #296eaf;
                text-decoration: underline;
            }
        }

        .teaser {
            color: #555;
        }

        .action {
            margin-top: 15px;
            text-align: center;

            .btn-donate {
                padding: 15px 0;
                font-family: opensans-semibold, sans-serif;
                font-size: 20px;
                width: 80%;

                background-color: #348AA7;
                color: #fff;
            }
        }
    }

    .newsletter {
        background-color: #eee;
        margin-top: 60px;
        padding: 40px 0;
    }

    .footer {
        background-color: #525174;
        margin-top: 20px;
        padding: 20px 0 60px;

        color: #fff;
    }

}