
// Navigation Bar
// ---------------------------------------------------------------------------------------------------------------------

$color_nav_bg: #007599;
$color_nav_link_bg: #0089b3;

$color_nav_line_link_text: #c2e5f0;
$color_nav_line_link_border: #279bbe;

// Sidebar
// ---------------------------------------------------------------------------------------------------------------------

$color_sidebar_bg: #404146;

// Content
// ---------------------------------------------------------------------------------------------------------------------

$color_content_bg: #e9ebee;

$color_active_state: #0075ae;
$color_border: #e5e5e5;

$color_link: #0077dd;

$color_content_heading: #0075ae;
//$color_content_sub_heading: #e06706;
$color_content_sub_heading: #333;


// Child Page Navigation
// ---------------------------------------------------------------------------------------------------------------------

$color_page_tabs_bg: #dbdee3;
$color_page_tabs_border: #ccc;
$color_page_tabs_active_bg: #0089b3;
$color_page_tabs_active_border: #007599;
$color_page_tabs_hover_bg: #0089b3;
$color_page_tabs_hover_border: #007599;


// Table
// ---------------------------------------------------------------------------------------------------------------------

$color_table_heading: #0075ae;


// Button
// ---------------------------------------------------------------------------------------------------------------------

$color_btn_primary_bg: #ce467a;
$color_btn_primary_border: #b22f61;
$color_btn_primary_hover: #b22f61;

$color_btn_gray_bg: #F2F2F2;
$color_btn_gray_border: $color_border;

$color_btn_search_submit_bg: #666;
$color_btn_search_submit_border: #444;
$color_btn_search_reset_bg: #ccc;
$color_btn_search_reset_border: #ccc;
$color_btn_search_hover: #0089b3;

// Filter
// ---------------------------------------------------------------------------------------------------------------------

$color_filter_active: #e06706;

$color_filter_pill_bg: #ffe4b3;
$color_filter_pill_border: #fbbf51;
$color_filter_pill_remove: #c78205;



$color_blue: #6699CC;
$color_orange: #FAA446;



$color_light_green: #cff0da;
$color_green: #3d8e80;

$color_light_red: #fdd;
