
// Link
// ---------------------------------------------------------------------------------------------------------------------

.link-default {
    @include style-link;
}

// Button
// ---------------------------------------------------------------------------------------------------------------------

.button-primary {
    &, &:link, &:visited {
        background-color: $color_btn_primary_bg;
        border-color: $color_btn_primary_border;
        color: #fff;
    }

    &:hover, &:active {
        background-color: $color_btn_primary_hover;
        color: #fff;
        cursor: pointer;
    }

    i {
        margin-right: 3px;
    }

    &.-small {
        font-size: 14px;
        vertical-align: middle;
        padding: 4px 15px;
    }

    &.-medium {
        padding: 10px 40px 9px;
    }
}

.button-gray {
    @include style-button-gray;

    i {
        margin-right: 3px;
    }

    &.-extra-small {
        font-size: 0.8rem;
        padding: 2px 8px;
    }

    &.-small {
        font-size: 14px;
        padding: 4px 15px;
    }

    &.-medium {
        padding: 10px 40px 9px;
    }
}

// Text
// ---------------------------------------------------------------------------------------------------------------------

.number-of-results {
    color: #555;
    font-size: 0.9rem;
    padding-bottom: 10px;

    .number {
        color: #333;
        font-weight: bold;
    }
}


// Cardbox
// ---------------------------------------------------------------------------------------------------------------------

@mixin cardbox() {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    background-color: #fff;

    margin-bottom: 25px;

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }
}

.cardbox {
    @include cardbox;

    .cardbox-heading {
        border-bottom: 1px solid #d7d7d7;
        font-size: 1.1rem;
        color: $color_content_heading;
        font-weight: bold;
        margin: 0;
        padding: 15px 20px;
    }

    .cardbox-section {
        margin: 25px 0;

        .section-heading {
            color: $color_content_sub_heading;
            font-size: 0.9rem;
            font-weight: bold;
            margin-bottom: 15px;

            display: inline-block;
            padding-bottom: 5px;
            border-bottom: 2px solid $color_content_sub_heading;
        }
    }

    .cardbox-fields {
        margin: 0 20px 20px;

        .field {
            margin-top: 15px;

            .name {
                color: #444;
                font-size: 0.9rem;
                font-weight: bold;
                display: block;
            }

            .value {

            }
        }
    }
}

.cardbox.-with-padding {
    padding: 15px 25px 25px;
}

.cardbox-footer {
    border-top: 1px solid #d7d7d7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;

    a {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}


// Cardbox - Table
// ---------------------------------------------------------------------------------------------------------------------

.cardbox-table {
    .table-header {
        border-bottom: 1px solid $color_border;
    }

    .table-footer {
        border-top: 1px solid $color_border;
    }

    .table-filtering {
        border-bottom: 1px dashed #ccc;
        padding: 5px 20px 15px;

        .criteria {
            background-color: $color_filter_pill_bg;
            border: 1px solid $color_filter_pill_border;
            border-radius: 3px;
            color: #444;
            font-size: 0.9rem;

            position: relative;
            display: inline-block;
            padding: 4px 24px 4px 10px;

            margin: 10px 10px 0 0;

            min-width: 100px;

            //&:after {
            //    @include fa-icon();
            //    color: $color_filter_active;
            //    content: "\f00d";
            //
            //    margin-left: 3px;
            //    position: absolute;
            //    right: 5px;
            //    top: 5px;
            //}

            &:hover {
                text-decoration: none;

            //
            //    .name, .value {
            //        visibility: hidden;
            //    }
            //
            //    &:before {
            //        color: $color_filter_active;
            //        content: 'REMOVE ';
            //        font-size: 0.8rem;
            //        font-weight: bold;
            //
            //        position: absolute;
            //        top: 3px;
            //        left: 10px;
            //    }
            }

            .name {
                color: $color_filter_active;
                display: block;
                font-size: 0.8rem;
            }
        }
    }

    .table-actions {
        padding: 15px 20px;

        .fa.fa-caret-down {
            color: #555;
            margin-left: 2px;
        }

        button:hover {
            .fa.fa-caret-down {
                color: #fff;
            }
        }
    }

    .table-results {
        color: #555;
        padding: 15px 20px;

        .number {
            color: #333;
            font-weight: bold;
        }
    }

    .table-download {
        color: #555;
        font-size: 0.85rem;
        padding: 15px 20px;
        text-align: right;
        vertical-align: 0;

        a {
            display: inline-block;
            margin-left: 5px;
            padding: 1px 6px;
            vertical-align: 0;
        }
    }

    .table-no-objects {
        color: #666;
        font-size: 1.1rem;
        text-align: center;

        padding: 25px 0;
    }

    .table-pagination {
        padding: 15px 20px;
        text-align: right;

        .current {
            color: #333;
            font-size: 0.9rem;

            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;

            .number {
                font-weight: bold;
            }
        }

        .pagination {
            display: inline-block;
            margin: 0;
            vertical-align: middle;

            li {
                a {
                    @include style-button-gray;

                    font-size: 0.85rem;
                    padding: 5px 16px;
                    text-align: center;
                }

                &.disabled a {
                    color: #888;
                    cursor: default;

                    &:hover {
                        background-color: $color_btn_gray_bg;
                        border-color: $color_btn_gray_border;
                    }
                }
            }
        }
    }
}


// Table
// ---------------------------------------------------------------------------------------------------------------------

.table-default {
    margin: 0;
    height: 100%;

    & > tbody > tr > td {
        border-top: 1px solid $color_border;
    }

    & > thead > tr > th {
        border-bottom: none;
        border-top: 1px solid $color_border;
        padding: 10px 8px;
    }

    &>tbody>tr>td, &>tr>td {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    th {
        color: $color_table_heading;
        font-weight: normal;
    }

    tbody {
        height: 100%;  // required to set a link height 100% in clickable-row
    }

    tr {
        height: 100%;  // required to set a link height 100% in clickable-row
    }

    tr.clickable-row {
        a {
            color: #444;
            display: inline-block;
            text-decoration: none;
            height: 100%;
            width: 100%;
        }

        &:hover {
            background-color: $color_link;
            color: #fff;
            cursor: pointer;

            a {
                color: #fff;
            }

            .is_active {
                background-color: transparent;
                color: #fff;
            }

            .is_inactive {
                background-color: transparent;
                color: #fff;
            }
        }
    }

    th, td {
        font-size: 15px;

        &:first-child {
            padding-left: 20px;
        }

        .is_active {
            background-color: #cff0da;
        }

        .is_inactive {
            background-color: #fdd;
        }
    }

    td.datetime {
        .date {
            display: block;
        }

        .time {
            font-size: 0.9rem;
            display: block;
        }
    }

    td.name_email {
        .name {
            color: #444;
            font-weight: bold;
            display: block;
        }

        .email {
            font-size: 0.9rem;
            display: block;

            &.no {
                color: #999;
            }
        }
    }

    tr.clickable-row {
        &:hover {
            i {
                color: #fff;
            }

            td.name_email .name {
                color: #fff;
            }
        }
    }
}


// Search Bar
// ---------------------------------------------------------------------------------------------------------------------

.searchbar {
    margin-bottom: 25px;

    .form-group {
        display: inline-block;
        margin: 0;
        vertical-align: top;

        .form-label {
            color: #444;
            font-size: 0.8rem;
            margin-bottom: 4px;
        }

        .form-control {
            display: inline-block;
            width: auto;
        }
    }

    .pull-left {
        .form-group {
            margin: 0 15px 0 0;
        }
    }

    .submit-buttons {
        margin-top: 26px;

        .btn {
            font-size: 0.85rem;
            margin-right: 10px;
            padding: 6px 20px;
        }

        .button-submit {
            background-color: $color_btn_search_submit_bg;
            border: 1px solid $color_btn_search_submit_border;
            color: #fff;

            &:hover {
                background-color: $color_btn_search_hover;
                border-color: $color_btn_search_hover;
                color: #fff;
                cursor: pointer;
            }
        }

        .button-reset {
            background-color: $color_btn_search_reset_bg;
            border: 1px solid $color_btn_search_reset_border;
            color: #333;

            &:hover {
                background-color: $color_btn_search_hover;
                border-color: $color_btn_search_hover;
                color: #fff;
                cursor: pointer;
            }
        }
    }

    .filter-daterange {
        .fa {
            color: #777;
            font-size: 0.8rem;
            padding-top: 10px;
        }

        input {
            padding-right: 30px;
            min-width: 205px;

            &[readonly] {
                background-color: #fff;
                cursor: pointer;
            }
        }
    }
}




//.cardbox-section {
//    border-bottom: 1px solid #eee;
//    padding: 15px 20px;
//
//    ul {
//        margin: 0;
//        padding: 0;
//
//        li {
//            display: inline-block;
//            list-style: none;
//
//            a {
//                background-color: #eee;
//                color: #333;
//                font-size: 0.9rem;
//                font-weight: bold;
//                margin-right: 10px;
//                padding: 8px 12px;
//
//                &:hover {
//                    background-color: #369;
//                    color: #fff;
//                    text-decoration: none;
//                }
//
//                &.active {
//                    background-color: #003399;
//                    color: #fff;
//                }
//            }
//        }
//    }
//}


//.section-header {
//    border-bottom: 4px solid #2a8ab0;
//    color: #333;
//    font-size: 18px;
//    font-weight: bold;
//    display: inline-block;
//    margin: 0;
//    padding: 12px 3px 7px 3px;
//
//    i {
//        color: #2a8ab0;
//        margin-right: 4px;
//        vertical-align: -1px;
//    }
//}

.byd-amount-unit {
    color: #555;
    font-size: 0.8em;
    margin-left: 1px;
}


/* Buttons & Links */
/*
.button-primary {
    @include primary-button;

    &.-small {
        font-size: 14px;
        padding: 3px 15px;
    }

    &.-medium {
        padding: 8px 20px 7px;
    }
}

.button-default {
    @include default-button;

    &.-small {
        font-size: 14px;
        padding: 3px 15px;
    }

    &.-medium {
        padding: 8px 20px 7px;
    }
}

.link-default {
    &:link, &:visited {
        color: $color_link;
        text-decoration: underline;
    }

    &:hover, &:active {
        background-color: $color_link;
        color: #fff;
        text-decoration: underline;
    }
}

.link-small {
    &:link, &:visited {
        color: #666;
        font-size: 14px;
        text-decoration: underline;
    }

    &:hover, &:active {
        background-color: $color_link;
        color: #fff;
    }
}*/
//
///* Navigation Pills */
//
//.nav-pills-default {
//    li {
//        a {
//            border-radius: 0;
//            border-bottom: 4px solid #ddd;
//            color: #555;
//            font-size: 15px;
//            margin-right: 10px;
//            padding: 12px 10px 6px;
//
//            &:hover {
//                background-color: $color_link;
//                border-bottom: 4px solid $color_link;
//                color: #fff;
//            }
//        }
//
//        &.active {
//            a {
//                background-color: transparent;
//                border-bottom: 4px solid $color_link;
//                color: #333;
//
//                &:hover {
//                    background-color: $color_link;
//                }
//            }
//        }
//    }
//}
//
///* Form */
//
//.form-default {
//    .form-group {
//        margin-top: 30px;
//
//        h3 {
//            color: #333;
//            font-size: 16px;
//            font-weight: bold;
//            margin: 0;
//            padding: 0;
//
//            i {
//                margin-right: 3px;
//            }
//        }
//    }
//
//    .control-label {
//        color: #444;
//        font-size: 15px;
//        font-weight: normal;
//        padding: 8px 0 0 0;
//
//        .fa-asterisk {
//            color: #e07183;
//            font-size: 11px;
//            margin-right: 4px;
//            vertical-align: 2px;
//        }
//    }
//
//    .help-block {
//        font-size: 14px;
//        margin: 8px 0 0;
//    }
//
//    .form-control {
//        font-size: 16px;
//        height: 38px;
//        padding: 6px 10px;
//    }
//
//    textarea.form-control {
//        height: 80px;
//    }
//
//    .form-control-datepicker {
//        width: 180px;
//    }
//
//    .form-control-daterange {
//
//        .form-control-datepicker {
//            float: left;
//        }
//
//        .to {
//            color: #999;
//            float: left;
//            display: block;
//            padding: 8px 10px 0;
//        }
//    }
//
//    .form-control-currency {
//        .form-control {
//            display: inline-block;
//            width: 160px;
//        }
//
//        .unit {
//            color: #555;
//            font-size: 15px;
//            margin-left: 10px;
//        }
//    }
//
//    .form-control-radio-group {
//        ul {
//            margin: 5px 0 0;
//            padding: 0;
//
//            li {
//                list-style: none;
//            }
//        }
//
//        label {
//            font-weight: normal;
//            line-height: 27px;
//
//            input {
//                margin-right: 4px;
//            }
//        }
//    }
//
//    .form-control-button-group {
//        .btn-group-default {
//            .btn {
//                background-color: #f4f4f4;
//                border-color: #ccc;
//                box-shadow: none;
//                color: #444;
//
//                padding: 8px 20px;
//
//                &.active {
//                    background-color: #666;
//                    border-color: #666;
//                    color: #fff;
//                }
//
//                &:hover {
//                    background-color: $color_link;
//                    border-color: $color_link;
//                    color: #fff;
//                }
//            }
//
//            .btn-positive:hover, .btn-positive.active {
//                @include btn-group-active-green;
//            }
//
//            .btn-negative:hover, .btn-negative.active {
//                @include btn-group-active-red;
//            }
//        }
//    }
//
//    .btn-submit {
//        @include primary-button;
//        display: inline-block;
//        font-size: 15px;
//        padding: 13px 20px 12px;
//        width: 200px;
//    }
//}
//
///* Table */
//
//.table-default {
//    margin: 15px 0 0 0;
//    height: 100%;
//
//    & > tbody > tr > td {
//        border-top: 1px solid #ddd;
//    }
//
//    & > thead > tr > th {
//        border-bottom: 1px solid #ddd;
//    }
//
//    th {
//        color: #888;
//        font-weight: normal;
//    }
//
//    tbody {
//        height: 100%;  // required to set a link height 100% in clickable-row
//    }
//
//    tr {
//        height: 100%;  // required to set a link height 100% in clickable-row
//    }
//
//    tr.clickable-row {
//        a {
//            color: #444;
//            display: inline-block;
//            text-decoration: none;
//            height: 100%;
//            width: 100%;
//        }
//
//        &:hover {
//            background-color: $color_link;
//            color: #fff;
//            cursor: pointer;
//
//            a {
//                color: #fff;
//            }
//
//            .is_active {
//                background-color: transparent;
//                color: #fff;
//            }
//
//            .is_inactive {
//                background-color: transparent;
//                color: #fff;
//            }
//        }
//    }
//
//    th, td {
//        font-size: 15px;
//
//        &:first-child {
//            padding-left: 20px;
//        }
//
//        .is_active {
//            background-color: #cff0da;
//        }
//
//        .is_inactive {
//            background-color: #fdd;
//        }
//    }
//
//    .no-objects {
//        color: #666;
//        font-size: 16px;
//        text-align: center;
//
//        padding: 15px 0;
//    }
//}