html, body {
    background-color: $color_content_bg;
    font-size: 16px;
    min-height: 100vh;
}

body {
}

// Navigation Bar
// ---------------------------------------------------------------------------------------------------------------------

$navbar-height-desktop: 66px;
$navbar-height-mobile: 115px;

.navbar {
    background-color: $color_nav_bg;
    border: none;
    border-radius: 0;

    height: $navbar-height-mobile;
    margin-bottom: 0;
    max-height: $navbar-height-mobile;
    position: absolute;
    width: 100%;
    z-index: 1000;

    @include media-breakpoint-up(md) {
        height: $navbar-height-desktop;
        max-height: $navbar-height-desktop;
    }

    .navbar-brand {
        color: #fff;
        font-weight: bold;
        font-size: 1.1rem;
        position: relative;
        padding: 12px 0 0 54px;

        i.fa {
            color: #eee !important;
            position: absolute;
            margin: 14px 0 0 -38px;
        }

        .website_name {
            color: #c2e5f0;
            font-size: 0.85rem;
            font-weight: normal;

            margin-top: 3px;
            display: block;
        }

        &:hover {
            color: #fff;
            text-decoration: none;

            .website_name {
                color: #fff;
            }
        }
    }

    .navbar-nav {
        padding: 16px 30px 0 0;
    }

    .nav-item {
        vertical-align: middle;

        .account {
            color: #fff;
            font-size: 0.9rem;
            margin-top: 5px;

            .username {
                font-weight: bold;
            }
        }

        .nav-link {
            border: 1px solid $color_nav_line_link_border;
            border-radius: 3px;
            color: $color_nav_line_link_text;
            font-size: 0.85rem;

            margin-left: 15px;
            padding: 5px 12px;

            &:hover {
                background-color: #fff;
                border-color: #fff;
                color: $color_nav_bg;
                text-decoration: none;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .navbar {
        .navbar-nav {
            padding: 11px 0 0 15px;
        }

        .nav-item {
            float: left;

            .account {
                font-size: 0.75rem;
            }

            .nav-link {
                font-size: 0.75rem;
            }
        }
    }
}

.page-sidebar-toggler {
    color: #bbb;
    font-size: 0.8rem;

    background-color: $color_sidebar_bg;
    border: none;
    border-radius: 0;

    margin: 0;
    padding: 10px 0;
    float: none;
    width: 100%;
}

@include media-breakpoint-down(md) {
    .navbar-toggle {
        display: block !important;
    }
}

// Container & Sidebar
// ---------------------------------------------------------------------------------------------------------------------

.page-container {
    height: 100%;
    min-height: 100vh;
    padding-top: $navbar-height-mobile;

    .flex-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 100vh;
    }

    .page-sidebar-container {
        background-color: $color_sidebar_bg;
    }

    .page-content-container {
        flex-grow: 1;
    }

    @include media-breakpoint-up(md) {
        padding-top: $navbar-height-desktop;
    }


    @include media-breakpoint-up(lg) {
        .collapse {
            display: block;
        }

        .flex-container {
            flex-direction: row;
        }
    }
}

.page-sidebar {
    width: 100%;
    margin: 0;

    .nav-item {
        .nav-link {
            color: #eee;
            font-size: 0.9rem;

            padding: 9px 35px 9px 15px;
            border-bottom: 1px solid #555;

            .fa {
                color: #eee;
                font-size: 0.8rem;
                margin-right: 3px;
            }

            &.active, &:hover, &:active {
                background-color: $color_content_bg;
                border-bottom: 1px solid $color_content_bg;
                color: #444;

                .fa {
                    color: #555;
                }
            }
        }
    }

    .nav-item.nav-section {
        color: #aaa;
        font-size: 0.8rem;
        padding: 18px 15px 2px;
    }

    @include media-breakpoint-down(sm) {
        .nav {
            margin-bottom: 10px;
        }

        .nav-item {
            padding: 0 10px;

            .nav-link {
                border-bottom: none;
                padding: 7px 10px;

                &.active, &:hover, &:active {
                    border-bottom: none;
                }
            }
        }
    }
}

// Page Header
// ---------------------------------------------------------------------------------------------------------------------

.page-header {
    border: none;
    margin: 0;
    padding: 13px 10px 10px;

    .supertitle {
        color: #444;
        font-size: 17px;
        font-weight: 500;
        padding: 5px 0;
    }

    h1 {
        font-size: 26px;
        font-weight: bold;
        line-height: 37px;
        color: #111;
        margin: 0;
        padding: 0;
    }

    .subtitle {
        color: #666;
        font-size: 14px;
        margin-top: 6px;

        b {
            color: #444;
        }

        .divide {
            color: #BBB;
            display: inline-block;
            margin: 0 5px;
        }
    }

    .page-breadcrumb {
        color: #999;
        font-size: 0.9rem;
        padding: 8px 0 5px;

        a {
            @include style-link;
        }

        .active {
            color: #444;
        }
    }
}
//
//h2.page-header {
//    font-size: 1.2rem;
//    font-weight: bold;
//    line-height: 37px;
//    color: #111;
//    margin: 20px 0 5px;
//    padding: 0;
//}

// Page Content
// ---------------------------------------------------------------------------------------------------------------------

.page-content {
    padding: 0 10px;
}

.page-messages {
    padding-left: 0;
    list-style: none;
    margin: 20px 20px 10px;

    li {
        border: 1px solid;
        border-radius: 4px;
        color: #333;
        font-size: 15px;
        padding: 15px 20px;
    }

    .debug, .info, .warning {
        color: #5f4f33;
        background-color: #fcf8e3;
        border-color: #e0e096;
    }

    .success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #b6d1ab;
    }

    .error {
        color: #8c4745;
        background-color: #f2dede;
        border-color: #daaab2;
    }
}

.page-tabs {
    border-bottom: 4px solid $color_page_tabs_border;
    margin: 10px 0 20px;
    padding-bottom: 6px;

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            list-style: none;

            a {
                background-color: $color_page_tabs_bg;
                border-bottom: 4px solid $color_page_tabs_border;
                color: #333;
                font-size: 0.90rem;
                margin-right: 5px;
                padding: 10px 18px 8px;

                .fa {
                    color: #555;
                    margin-right: 2px;
                }

                &:hover {
                    background-color: $color_page_tabs_hover_bg;
                    border-bottom: 4px solid $color_page_tabs_hover_border;
                    color: #fff;
                    text-decoration: none;

                    .fa {
                        color: #fff;
                    }
                }

                &.active {
                    border-bottom: 4px solid $color_page_tabs_active_border;
                    color: #fff;
                    background-color: $color_page_tabs_active_bg;

                    .fa {
                        color: #fff;
                    }
                }
            }
        }
    }
}
