
// Bootstrap
// ---------------------------------------------------------------------------------------------------------------------

.dropdown-menu {
    border-radius: 0;
}


// Bootstrap Multiselect
// ---------------------------------------------------------------------------------------------------------------------

.multiselect-container {
    margin: 2px 0 0 0;
    padding: 5px 0;
}

.multiselect-container > li > a > label {
    padding: 6px 20px 6px 32px;
}

