
@mixin style-link() {
    &, &:link, &:visited {
        color: $color_link;
        text-decoration: underline;
    }

    &:hover, &:active {
        background-color: $color_link;
        color: #fff;

        cursor: pointer;
        text-decoration: none;
    }
}

@mixin style-button-gray() {
    &, &:link, &:visited {
        background-color: $color_btn_gray_bg;
        border-color: $color_btn_gray_border;
        color: #333;
    }

    &:hover, &:active {
        background-color: $color_active_state;
        border-color: $color_active_state;
        color: #fff;
        cursor: pointer;
    }
}

.form-control {
    &::placeholder {
        color: #777;
        font-size: 0.8rem;
    }
}

