html, body {
  background-color: #E9EBEE;
  font-size: 16px;
  min-height: 100vh; }

.navbar {
  margin-bottom: 0;
  background-color: #007599;
  height: 115px;
  max-height: 115px;
  position: absolute;
  width: 100vw;
  z-index: 1000; }
  @media (min-width: 768px) {
    .navbar {
      height: 66px;
      max-height: 66px; } }
  .navbar .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 1.15rem;
    position: relative;
    padding: 0 0 0 25px; }
    .navbar .navbar-brand:hover {
      color: #fff;
      text-decoration: none; }
  .navbar .nav-item {
    vertical-align: middle; }
    .navbar .nav-item .account {
      margin-top: 5px;
      color: #fff; }
      .navbar .nav-item .account .username {
        font-weight: bold; }
    .navbar .nav-item .nav-link {
      border: 1px solid #279BBE;
      border-radius: 3px;
      color: #C2E5F0;
      font-size: 0.85rem;
      margin-left: 15px;
      padding: 5px 12px; }
      .navbar .nav-item .nav-link:hover {
        background-color: #fff;
        border-color: #fff;
        color: #007599;
        text-decoration: none; }

@media (max-width: 767px) {
  .navbar .collapse {
    display: block !important; }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: row; }
  .navbar .nav-item .account {
    font-size: 0.75rem; }
  .navbar .nav-item .nav-link {
    font-size: 0.75rem; } }

.page-container {
  min-height: 100vh;
  padding: 0; }
  .page-container .page-container-row {
    min-height: 100vh; }
  .page-container .page-sidebar-container {
    background-color: #404146;
    padding: 0;
    position: relative; }
    @media (min-width: 768px) {
      .page-container .page-sidebar-container .sidebar-content {
        padding-top: 66px; }
      .page-container .page-sidebar-container .collapse {
        display: block; } }
  .page-container .page-content-container {
    min-height: 100vh; }
    @media (min-width: 768px) {
      .page-container .page-content-container .content-content {
        padding-top: 66px; } }

.page-sidebar-toggler {
  color: #bbb;
  font-size: 0.8rem;
  background-color: #404146;
  border: none;
  margin-top: 115px;
  padding: 10px 0;
  display: block;
  width: 100%; }
  @media (min-width: 768px) {
    .page-sidebar-toggler {
      margin-top: 66px; } }

.page-sidebar {
  width: 100%;
  margin: 0; }
  .page-sidebar .nav-item .nav-link {
    color: #eee;
    font-size: 0.9rem;
    padding: 9px 15px;
    border-bottom: 1px solid #555; }
    .page-sidebar .nav-item .nav-link .fa {
      color: #eee;
      font-size: 0.8rem;
      margin-right: 3px; }
    .page-sidebar .nav-item .nav-link.active, .page-sidebar .nav-item .nav-link:hover, .page-sidebar .nav-item .nav-link:active {
      background-color: #E9EBEE;
      border-bottom: 1px solid #E9EBEE;
      color: #444;
      font-weight: bold; }
      .page-sidebar .nav-item .nav-link.active .fa, .page-sidebar .nav-item .nav-link:hover .fa, .page-sidebar .nav-item .nav-link:active .fa {
        color: #555; }
  .page-sidebar .nav-item.nav-section {
    color: #aaa;
    font-size: 0.8rem;
    padding: 18px 15px 2px; }
  @media (max-width: 767px) {
    .page-sidebar .nav {
      margin-bottom: 10px; }
    .page-sidebar .nav-item {
      padding: 0 10px; }
      .page-sidebar .nav-item .nav-link {
        border-bottom: none;
        padding: 7px 10px; }
        .page-sidebar .nav-item .nav-link.active, .page-sidebar .nav-item .nav-link:hover, .page-sidebar .nav-item .nav-link:active {
          border-bottom: none; } }

.content-content h1 {
  padding: 15px 25px; }

.content-content p {
  padding: 0 25px 15px; }
