html, body {
    background-color: #E9EBEE;
    font-size: 16px;
    min-height: 100vh;
}

$navbar-height-desktop: 66px;
$navbar-height-mobile: 115px;

.navbar {
    margin-bottom: 0;
    background-color: #007599;

    height: $navbar-height-mobile;
    max-height: $navbar-height-mobile;
    position: absolute;
    width: 100vw;
    z-index: 1000;

    @media (min-width: 768px) {
        height: 66px;
        max-height: 66px;
    }

    .navbar-brand {
        color: #fff;
        font-weight: bold;
        font-size: 1.15rem;
        position: relative;
        padding: 0 0 0 25px;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    .nav-item {
        vertical-align: middle;

        .account {
            margin-top: 5px;
            color: #fff;

            .username {
                font-weight: bold;
            }
        }

        .nav-link {
            border: 1px solid #279BBE;
            border-radius: 3px;
            color: #C2E5F0;
            font-size: 0.85rem;

            margin-left: 15px;
            padding: 5px 12px;

            &:hover {
                background-color: #fff;
                border-color: #fff;
                color: #007599;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        .collapse {
            display: block !important;
        }

        .navbar-nav {
            display: flex;
            flex-direction: row;
        }

        .nav-item {
            .account {
                font-size: 0.75rem;
            }

            .nav-link {
                font-size: 0.75rem;
            }
        }
    }
}

.page-container {
    min-height: 100vh;
    padding: 0;

    .page-container-row {
        min-height: 100vh;
    }

    .page-sidebar-container {
        background-color: #404146;
        padding: 0;
        position: relative;

        @media (min-width: 768px) {
            .sidebar-content {
                padding-top: $navbar-height-desktop;
            }

            .collapse {
                display: block;
            }
        }
    }

    .page-content-container {
        min-height: 100vh;

        .content-content {
            @media (min-width: 768px) {
                padding-top: $navbar-height-desktop;
            }
        }
    }
}

.page-sidebar-toggler {
    color: #bbb;
    font-size: 0.8rem;

    background-color: #404146;
    border: none;
    margin-top: $navbar-height-mobile;
    padding: 10px 0;
    display: block;
    width: 100%;

    @media (min-width: 768px) {
        margin-top: $navbar-height-desktop;
    }
}

.page-sidebar {
    width: 100%;
    margin: 0;

    .nav-item {
        .nav-link {
            color: #eee;
            font-size: 0.9rem;

            padding: 9px 15px;
            border-bottom: 1px solid #555;

            .fa {
                color: #eee;
                font-size: 0.8rem;
                margin-right: 3px;
            }

            &.active, &:hover, &:active {
                background-color: #E9EBEE;
                border-bottom: 1px solid #E9EBEE;
                color: #444;
                font-weight: bold;

                .fa {
                    color: #555;
                }
            }
        }
    }

    .nav-item.nav-section {
        color: #aaa;
        font-size: 0.8rem;
        padding: 18px 15px 2px;
    }

    @media (max-width: 767px) {
        .nav {
            margin-bottom: 10px;
        }

        .nav-item {
            padding: 0 10px;

            .nav-link {
                border-bottom: none;
                padding: 7px 10px;

                &.active, &:hover, &:active {
                    border-bottom: none;
                }
            }
        }
    }
}

.content-content {
    h1 {
        padding: 15px 25px;
    }

    p {
        padding: 0 25px 15px;
    }
}