{% load staticfiles compress %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Fundraising Platform{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <!-- Facebook -->
    {% block facebook_meta %}
        <meta property="og:url" content="{{ WEBSITE_URL }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content=""/>
        <meta property="og:description" content=""/>
        <meta property="og:image" content="http://www.example.com/path/image.jpg"/>
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% if debug %}
        <link href="{% static 'libs/tether/css/tether.min.css' %}" rel="stylesheet">
        <link href="{% static 'libs/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    {% else %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% endif %}

  {% compress css %}
        <link  href="{% static 'libs/bank/css/thbanklogos.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        {% block css %}
        {% endblock css %}
  {% endcompress %}
</head>

<body class="{% block body_css_class %}{% endblock %}">
    {% block content %}{% endblock %}

    {% if debug %}
        <script src="{% static 'libs/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'libs/tether/js/tether.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'libs/dropzone/dropzone.js' %}"></script>
        <script src="{% static 'libs/ramda.min.js' %}"></script>
        <script src="{% static 'libs/store/store2.min.js' %}"></script>
    {% else %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.23.0/ramda.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/store2/2.5.0/store2.min.js"></script>
    {% endif %}

    {% compress js %}
        <script src="{% static 'libs/jquery.payment.min.js' %}"></script>
        <script src="{% static 'libs/exif.js' %}"></script>
        <script src="{% static 'libs/omise/vendor/easyXDM.js' %}"></script>
        <script src="{% static 'libs/omise/omise.js' %}"></script>

        <script src="{% static 'libs/store/store.array.js' %}"></script>

        <script src="{% static 'js/base.js' %}"></script>
        <script src="{% static 'js/remove_hash.js' %}"></script>
        <script src="{% static 'js/uploader.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>

        {% block javascript %}
        {% endblock javascript %}
    {% endcompress %}
</body>
</html>
