{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Logo & Main navigation -->
    <nav class="navbar navbar-toggleable-md navbar-inner">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'pages:homepage' %}"><img src="{% static 'images/website/logo-black.png' %}" width="215" height="36" /></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">What we do</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Campaigns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Updates</a>
                </li>
            </ul>
            <div class="nav-actions">
                <a href="#" class="nav-link btn btn-action-outline">What can you help?</a>
            </div>
        </div>
    </nav>

    {% if messages %}
    <ul class="block-messages">
        {% for message in messages %}
            <li class="alert{% if message.tags %}  alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="page-inner-content">{% block content_inner %}{% endblock %}</div>
{% endblock %}

