

.page-nav-pills {
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
    margin: 10px -20px -15px;
    padding: 10px 0 12px 20px;
}

.page-actions {
    padding: 18px 0 5px;

    .btn {
        padding: 9px 25px;
    }
}

.page-filters {
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 0 20px;

    .name {
        color: #777;
        font-size: 14px;
        margin-right: 7px;
    }

    a {
        font-size: 15px;

        &:link, &:visited {
            color: $color-link;
            text-decoration: underline;
        }

        &.active {
            color: #333;
            font-weight: bold;
            text-decoration: none;
        }

        &:hover, &:active {
            background-color: $color-link;
            color: #fff;
        }
    }

    .sep {
        color: #ccc;
        padding: 0 4px;
    }
}

.page-search {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    position: relative;

    &.searched {
        background-color: #ffffdd;
    }

    .search-title {
        color: #444;
        font-size: 14px;
        font-weight: bold;

        cursor: pointer;
        padding: 12px 20px;

        i {
            margin-right: 2px;
            vertical-align: 0;
        }

        &:hover { ////
            color: $color-link;
            background-color: #eee;
        }
    }

    .criteria {
        padding: 0 20px;
        margin-top: 10px;
    }

    .search-criteria {
        float: left;
        display: table-cell;
        padding-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        .name {
            color: #777;
            font-size: 14px;
            margin-bottom: 7px;

            label {
                font-weight: normal;
                margin: 0;
            }
        }

        .input-unit {
            color: #666;
            font-size: 14px;
            display: inline-block;
            padding: 6px 0 6px 6px;
            vertical-align: middle;
        }
    }

    .duration-criteria {
        input {
            width: 110px;
        }

        .fromto {
            color: #666;
            font-size: 13px;
            margin: 0 5px;
        }
    }

    .search-submit {
        padding: 20px 20px 25px;

        .btn {
            margin-right: 10px;
        }

        .button-search {
            background-color: #666;
            border: 1px solid #666;
            color: #fff;
            padding: 6px 40px 5px;
        }

        .button-reset {
            padding: 6px 15px 5px;
        }
    }


    /*
    .search-criteria {
        float: left;
        display: table-cell;
        padding-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        .name {
            color: #777;
            font-size: 14px;
            margin-bottom: 7px;

            label {
                font-weight: normal;
                margin: 0;
            }
        }

        .input-unit {
            color: #666;
            font-size: 14px;
            display: inline-block;
            padding: 6px 0 6px 6px;
            vertical-align: middle;
        }
    }

    .search-submit {
        float: right;
        padding-top: 15px;

        .btn {
            margin-left: 10px;
        }

        .button-primary {
            padding: 8px 40px 7px;
        }

        .button-default {
            padding: 8px 15px 7px;
        }
    }

    .number-criteria {
        input {
            width: 100px;
        }
    }

    .duration-criteria {
        input {
            width: 110px;
        }

        .fromto {
            color: #666;
            font-size: 13px;
            margin: 0 5px;
        }
    }*/
}

.page-searched {
    margin: 20px 0;
    padding: 0 20px;

    .box {
        position: relative;
    }

    h3 {
        color: #555;
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 10px;
        padding: 0;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            background-color: #FFD;
            border: 1px solid #dada50;
            color: #444;
            display: inline-block;
            font-size: 14px;
            list-style: none;
            padding: 4px 10px;
        }
    }

    .criteria {
        font-weight: bold;
    }
}


