
.modal-dashboard-donations {
    h4 {
        font-weight: bold;
    }

    .campaign_name {
        color: #666;
        font-size: 14px;
        margin-top: 4px;
    }

    .count {
        color: #444;
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;

        span {
            color: #555;
            font-weight: normal;
        }
    }

    .modal-body {
        padding: 0;

        .table-default {
            margin-bottom: 0;
        }

        .table-default > thead > tr > th {
            border-bottom: 1px solid #e5e5e5;
        }

        .table-default > tbody > tr > td {
            border-top: 1px solid #e5e5e5;
            font-size: 14px;
        }

        .link-more {
            color: #777;
            text-decoration: underline;
        }
    }
}

.modal-donations-campaigns {
    h4 {
        font-weight: bold;
    }

    .count {
        color: #666;
        font-size: 14px;
        margin-top: 7px;
    }

    .modal-body {
        padding: 0;

        .list-group-item {
            padding: 8px 15px;
            font-size: 14px;
            margin-top: 0;
        }

        .list-group-item:first-child {
            border-top: none;
        }

        .list-group-item label {
            padding-left: 40px;
        }

        .list-group-item label > input {
            margin-left: -35px;
        }

        .row-pagination {
            color: #777;
            border-bottom: none;

            .pager {
                margin: 5px 0;

                a {
                    text-align: center;
                    width: 110px;
                }
            }
        }
    }
}

.modal-transfer-confirmation {
    h4 {
        font-weight: bold;
    }

    .status {
        color: #666;
        font-size: 14px;
        margin-top: 7px;
    }

    h5 {
        color: $color_blue;
        font-size: 15px;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }

    .modal-body {
        padding: 0;
    }

    .duplicated {
        background-color: #ffa;
        border-bottom: 1px solid #e5e5e5;
        color: #444;
        font-size: 14px;
        padding: 8px 15px;

        select {
            margin: 2px 0 0 7px;
        }

        option {
            font-size: 14px;
        }
    }

    .modal-body-top {
        padding: 15px 15px 0;
        margin-bottom: 20px;
    }

    .confirmation {
        .confirm_details {
            color: #555;
            font-size: 18px;
            margin: 0 0 7px;

            b {
                color: #333;
            }
        }

        .transfer_date {
            font-size: 15px;
            margin-bottom: 7px;
        }

        .note {
            color: #777;
            font-size: 14px;
        }
    }

    .donation {
        border: 1px dashed #ccc;
        margin-top: 15px;
        padding: 13px 15px;

        .donation_details {
            color: #555;
            font-size: 16px;
            margin: 8px 0 5px;

            b {
                color: #333;
            }
        }

        .donation_date {
            font-size: 15px;
            margin-bottom: 5px;
        }

        .campaign_name {
            color: #555;
            font-size: 14px;
        }
    }

    .confirm_actions {
        padding-top: 20px;
        text-align: center;

        .btn-confirm, .btn-reject {
            background-color: #f4f4f4;
            border-color: #aaa;
            box-shadow: none;
            color: #999;

            padding: 10px 20px;
        }

        .btn-confirm:hover, .btn-confirm.active {
            @include btn-group-active-green;
        }

        .btn-reject:hover, .btn-reject.active {
            @include btn-group-active-red;
        }
    }

    .unconfirmed {
        .btn-confirm, .btn-reject {
            background-color: #fff;
            border-color: #ccc;
            color: #444;
            box-shadow: none;
        }
    }

    .receipt {
        border-top: 1px solid #e5e5e5;
        padding: 15px;
        text-align: center;

        .caption {
            color: #777;
            font-size: 14px;
            margin-bottom: 10px;
        }

        img {
            max-width: 600px
        }
    }
}