

.navbar .nav {
    a :hover {
        background: none;
    }

    .goback a {
        color: #bbb;
        font-size: 13px;
        &:hover {
            background-color: transparent;
            color: #b4d5e0;
        }
    }
    .username {
        color: #fff;
        font-size: 14px;
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .logout a {
        color: #fff;
        font-size: 14px;
        border-left: 1px solid #174e6a;
        margin-left: 15px;
        &:hover {
            background-color: transparent;
            color: #b4d5e0;
        }
    }

    @media (max-width: 767px) {
        &.navbar-nav {
            float: left;
        }
        &.navbar-nav.navbar-right {
            float: right;
        }
        .username {
            float: left;
            line-height: 40px;
            padding: 0 0 0 15px;
        }
        .logout {
            float: left;
        }
    }
}

.navbar-toggler-icon {
    .icon-bar {
        background-color: #eee;
    }
}













/**************************
Component: backyard-menu
Element: menu-link
***************************/

.main-menu {
    margin-top: 17px;
    padding: 0;

    .menulist {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu-link {
        background-color: #fcfcfc;
        margin-bottom: 5px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);

        @media (min-width: 768px) and (max-width: 991px) {
            margin-bottom: 5px;
            display: inline-block;
        }

        a {
            color: #333;
            font-size: 13px;
            display: block;
            padding: 12px;
        }

        a .fa {
            color: #555;
            margin-right: 2px;
        }
        a:hover {
            background-color: #2f89bf;
            color: #fff;
            text-decoration: none;
        }
        a:hover .fa {
            color: #fff;
        }

    }
    .menu-link.selected {
        a {
            border-right: 8px solid #2f89bf;
            color: #145374;
            font-weight: bold;
            box-sizing: border-box;

            @media (min-width: 768px) and (max-width: 991px) {
                border-right: none;
                border-bottom: 8px solid #145374;
            }
        }
        a .fa {
            color: #145374;
        }
        a:hover,
        a:hover .fa {
            color: #FFFFFF;
        }
    }

    .menu-section {
        font-size: 13px;
        font-weight: 700;
        padding: 12px 5px 4px;
        color: #145374;
    }
}
//
//.navbar-toggle {
//    margin-right: 5px;
//}
//
//$height_nav: 86px;
//$height_nav_xs: 74px;
//
//.navbar .navbar-collapse {
//	@media (min-width: 768px) {
//		height: $height_nav !important;
//		display: flex !important;
//		display: -webkit-flex !important;
//		display: -moz-flex !important;
//		-webkit-justify-content: flex-end;
//
//		-webkit-justify-content: flex-end;
//		justify-content: flex-end;
//		align-items: center;
//		-webkit-align-items: center;
//		-moz-align-items: center;
//
//		@media (max-width: 767px) {
//			height: $height_nav_xs !important;
//		}
//		li {
//            margin-right: 20px;
//        }
//	}
//
//	li a {
//		font-size: 18px;
//	}
//}
//
//
//
///* Small devices (tablets, 768px and up) */
//@media (min-width: 768px) {
//    .main-menu {
//        display: block;
//    }
//}
