

.backyard-statistics {
    .page-container {
        padding: 20px;
    }

    h2 {
        color: #333;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 25px;
        padding: 0;
    }

    h3 {
        color: #555;
        font-size: 15px;
        margin: 15px 0 10px;
        padding: 0;
    }

    .section-payment-method {
        margin-bottom: 30px;

        .progress {
            height: 25px;
            margin-bottom: 5px;

            .progress-bar {
                line-height: 25px;
            }
        }

        .note {
            color: #999;
            font-size: 13px;
        }
    }
}

.backyard-campaign-form-content {
    .editor-form {
        padding: 20px;
    }
}

.backyard-campaign-form-social {
    .form-default {
        padding: 0 20px 20px;
    }

    .current-image {
        border: 1px dashed #ccc;
        border-radius: 4px;
        margin-top: 20px;
        padding: 15px 15px;

        h4 {
            color: #333;
            font-size: 15px;
            font-weight: bold;
            margin: 0 0 15px;
            padding: 0;
        }

        .no-image {
            color: #777;
            font-size: 14px;
            margin: 0;
            padding: 0;
        }
    }
}

.backyard-campaign-form-custom-price {
    .form-default {
        padding: 0 20px 20px;
    }
}

.backyard-campaign-form-advanced {
    .form-default {
        padding: 0 20px 20px;
    }

    .current-image {
        border: 1px dashed #ccc;
        border-radius: 4px;
        margin-top: 20px;
        padding: 15px 15px;

        h4 {
            color: #333;
            font-size: 15px;
            font-weight: bold;
            margin: 0 0 15px;
            padding: 0;
        }

        .no-image {
            color: #777;
            font-size: 14px;
            margin: 0;
            padding: 0;
        }
    }
}

























.table-filter {
    background-color: #eee;
    border: 1px solid #eee;
    margin: 0 0 15px;
    padding: 10px 15px 15px;

    .form-group {
        display: inline-block;
        margin-right: 20px;
    }

    .form-duration {
        .fromto {
            font-size: 12px;
        }
    }

    label {
        color: #555;
        font-size: 13px;
        font-weight: bold;
        display: block;
    }

    .btn-search {
        background-color: #4ea1d3;
        margin-top: 24px;
        font-weight: bold;
    }

    .btn-reset {
        background-color: #f7f7f7;
        margin-top: 24px;
        margin-left: 5px;
    }

    &.is_filtered {
        background-color: #d8e9ef;
        border: 1px solid #a2cad9;
    }
}

.backyard-listview {
    .table-count {
        margin-bottom: 15px;
        color: #777;

        b {
            color: #444;
        }
    }

    .no-objects {
        border: 1px dashed #ccc;
        color: #666;
        font-size: 16px;
        text-align: center;

        margin: 20px 20px 0;
        padding: 20px 0;
    }

    .pagination {
        li {
            display: inline-block;
            margin-right: 3px;
        }

        .disabled {
            .fa {
                color: #666;
                cursor: default;
            }

            &:hover {
                background-color: transparent;
            }
        }
    }

    .pagination > li > a, .pagination > li > span {
        padding: 6px 15px;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        background-color: #eee;
        border: 1px solid #eee;
        color: #333;
        font-weight: bold;
    }

    .pagination > li:first-child > a, .pagination > li:first-child > span {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .pagination > li:last-child > a, .pagination > li:last-child > span {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .pagination > li > a:focus, .pagination > li > a:hover {
        background-color: #4ea1d3;
        border-color: #4ea1d3;
        color: #fff;
    }
}

.backyard-donation-details {
    .section-donation {
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 20px;

        .caption {
            color: #777;
            font-size: 15px;
        }

        .amount, .email, .campaign_name {
            color: #333;
            display: block;
            margin-top: 5px;
        }

        .amount {
            font-weight: bold;
        }

        .email, .campaign_name {
            font-size: 15px;
            margin-top: 3px;

            a {
                font-size: 15px;
            }
        }

        .type {
            color: #444;
            font-size: 14px;
            display: block;
            margin-top: 3px;
        }
    }

    .section-invoice {
        margin-bottom: 30px;
        padding: 0 20px;

        .invoice {
            border: 1px dashed #ccc;
            border-radius: 4px;
            margin: 20px 0;
            padding: 14px 18px;

            &.-existed {
                background-color: #e9f5fb;
                border: 1px solid #98C1D9;
            }
        }

        .no-invoice {
            color: #777;
            font-size: 15px;
        }

        .caption {
            color: #888;
            font-size: 13px;
            margin-bottom: 4px;
        }

        .fullname {
            color: #333;
            font-size: 15px;
            font-weight: bold;
        }

        .address {
            color: #555;
            font-size: 15px;
            margin-top: 4px;
        }

        .actions {
            a {
                margin-right: 10px;
            }
        }
    }

    .section-payment {
        margin-bottom: 30px;
        padding: 0 20px;

        .section-header {
            margin-bottom: 20px;
        }

        .method, .status {
            color: #666;
            font-size: 15px;
            margin-bottom: 7px;

            .value {
                color: #444;
            }
        }

        .payment {
            background-color: #e9f5fb;
            border: 1px solid #98C1D9;
            border-radius: 4px;
            margin: 5px 0 20px;
            padding: 14px 18px;

            .caption {
                color: #999;
                font-size: 13px;
                margin-bottom: 6px;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    font-size: 14px;
                    list-style: none;
                    margin: 3px 0;
                }
            }

            .card_holder {
                font-weight: bold;
            }

            .last_digits {
                color: #666;
            }

            .receipt {
                margin-top: 8px;

                a {
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    color: #444;
                    font-size: 13px;

                    display: inline-block;
                    padding: 4px 10px;

                    i {
                        margin-right: 2px;
                    }

                    &:hover {
                        border: 1px solid $color_link;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            .confirm_actions {
                border-top: 1px dashed #ccc;
                margin-top: 15px;
                padding-top: 15px;
                text-align: center;

                .btn-confirm, .btn-reject {
                    background-color: #f4f4f4;
                    border-color: #aaa;
                    color: #999;
                    box-shadow: none;
                }

                .btn-confirm:hover, .btn-confirm.active {
                    @include btn-group-active-green;
                }

                .btn-reject:hover, .btn-reject.active {
                    @include btn-group-active-red;
                }
            }

            .unconfirmed {
                .btn-confirm, .btn-reject {
                    background-color: #fff;
                    border-color: #ccc;
                    color: #444;
                    box-shadow: none;
                }
            }
        }

        .actions {
            margin-top: 10px;

            h3 {
                font-size: 14px;
                color: #999;
                line-height: 23px;
                margin: 0 0 10px;
                padding: 0;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }
    }

    .section-payment-list {
        h2 {
            margin: 0 0 15px 20px;
        }

        .nav-tabs {
            margin-top: 15px;

            li:first-child {
                margin-left: 20px;
            }

            li {
                a {
                    background-color: #ddd;
                    color: #444;
                    font-size: 14px;
                    margin-right: 10px;
                    padding: 7px 15px;
                }

                &.active {
                    a {
                        background-color: #fff;
                        color: #444;
                        font-weight: bold;
                    }
                }
            }
        }
    }


    .section-top {
        padding: 20px 20px;
    }

    .section-details {
        color: #666;
        font-size: 15px;

        .amount {
            b {
                color: #333;
                font-size: 18px;
                display: block;
            }

            .type {
                font-size: 13px;
            }
        }
    }
}

.backyard-donor-details {
    .section-stats {
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
        padding: 20px;

        .name {
            color: #666;
            font-size: 15px;
        }

        .number {
            color: #333;
            font-size: 20px;
            font-weight: bold;
            margin-top: 3px;
        }

        .unit {
            font-size: 16px;
            font-weight: normal;
        }

        .note {
            color: #666;
            font-size: 15px;
            font-weight: normal;
            display: block;
            margin-top: 4px;
        }
    }

    .section-donations {
        .section-header {
            margin-left: 20px;
        }

        table {
            border-bottom: 1px solid #ddd;

            .datetime {
                width: 230px;
            }
        }
    }
}

.backyard-organization-form {
    .form-default {
        padding: 0 20px 20px;
    }

    .current-image {
        border: 1px dashed #ccc;
        border-radius: 4px;
        margin-top: 20px;
        padding: 15px 15px;

        h4 {
            color: #333;
            font-size: 15px;
            font-weight: bold;
            margin: 0 0 15px;
            padding: 0;
        }

        .no-image {
            color: #777;
            font-size: 14px;
            margin: 0;
            padding: 0;
        }
    }
}

.backyard-confirmations {
    .table-default {
        td.status {
            .accepted {
                background-color: $color_light_green;
            }

            .rejected {
                background-color: $color_light_red;
            }
        }

        tr.clickable-row:hover .accepted, tr.clickable-row:hover .rejected {
            background-color: transparent;
        }

        td.donation {
            .campaign {
                font-size: 14px;
                display: block;
            }

            .donation_date {
                color: #555;
                font-size: 14px;
                display: block;
                margin-top: 3px;
            }

            .email {
                color: #777;
                font-size: 14px;
                display: block;
                margin-top: 3px;

                b {
                    color: #777;
                    font-weight: normal;
                }
            }
        }

        tr.clickable-row:hover .campaign, tr.clickable-row:hover .donation_date, tr.clickable-row:hover .email, tr.clickable-row:hover .email b {
            color: #fff;
        }
    }
}

.backyard-content-homepage {
    .section-campaigns {
        padding: 15px 20px;

        p {
            color: #777;
            font-size: 14px;
            margin-top: 15px;
        }

        ul {
            margin: 15px 0 0;
            padding: 0;

            li {
                border: 1px solid #ddd;
                border-radius: 4px;
                list-style: none;
                margin-bottom: 10px;
                padding: 10px 15px;

                &.add {
                    border: 1px dashed #ccc;
                    margin-top: 15px;
                    padding: 12px 15px;

                    a {
                        color: #444;
                        font-size: 14px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .row-campaigns {
            margin-top: 5px;

            select {
                display: block;
                margin-bottom: 10px;
                width: 100%;
            }
        }

        .row-control {
            margin-top: 15px;

            a {
                display: inline-block;
                margin-right: 3px;
                padding: 5px 14px;
                background-color: #eee;
                color: #333;
            }
        }

        .submit {
            margin-top: 15px;

            button {
                padding: 9px 15px;
            }
        }
    }

    .section-links {
        border-top: 1px solid #ddd;
        margin-top: 20px;
        padding: 15px 20px;

        .row-control {
            margin-top: 25px;
        }

        ul {
            margin: 15px 0 0;
            padding: 0;

            li {
                border: 1px solid #ddd;
                border-radius: 4px;
                list-style: none;
                margin-bottom: 10px;
                padding: 15px 20px;

                min-height: 172px;

                &.add {
                    border: 1px dashed #ccc;
                    margin-top: 15px;
                    padding: 12px 15px;

                    a {
                        color: #444;
                        font-size: 14px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .title {
            font-weight: bold;
        }

        .url {
            margin-top: 2px;

            a {
                color: #777;
                font-size: 14px;
                text-decoration: underline;
            }
        }

        .description {
            color: #444;
            font-size: 14px;
            line-height: 24px;
            margin-top: 10px;
        }

        .cover {
            float: left;
        }

        .right {
            margin-left: 270px;
        }

        .control {
            margin-top: 10px;

            a {
                margin-right: 5px;

            }
        }
    }
}

.backyard-content-homepage-link-form {
    .form-default {
        padding: 0 20px 20px;
    }

    .current-image {
        border: 1px dashed #ccc;
        border-radius: 4px;
        margin-top: 20px;
        padding: 15px 15px;

        h4 {
            color: #333;
            font-size: 15px;
            font-weight: bold;
            margin: 0 0 15px;
            padding: 0;
        }

        .no-image {
            color: #777;
            font-size: 14px;
            margin: 0;
            padding: 0;
        }
    }
}

.backyard-reports-csv {
    .section-reports {
        padding: 20px;

        h2 {
            color: #444;
            font-size: 18px;
            font-weight: normal;
            margin: 0;
            padding: 0;
        }

        h3 {
            color: #444;
            font-size: 18px;
            font-weight: normal;
            margin: 0 0 15px;
            padding: 0;

            span {
                color: #666;
            }
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                display: inline-block;
                margin: 0 10px 10px 0;
            }
        }

        .button-download {
            font-size: 14px;
            font-weight: normal;
            padding: 9px 20px 8px;

            i {
                color: $color_link;
                margin-right: 3px;
            }

            &:hover {
                background-color: $color_link;
                border: 1px solid $color_link;

                i {
                    color: #fff;
                }
            }
        }


        &.-current {
            button {
                font-size: 15px;
                font-weight: bold;
                padding: 12px 20px 11px;
            }
        }


        .search-criteria {
            margin-bottom: 20px;

            .name {
                color: #777;
                font-size: 14px;
                font-weight: normal;
                margin-bottom: 7px;
            }
        }
    }
}