/*
@import "../../../../website/static/libs/bootstrap/scss/variables";
@import "../../../../website/static/libs/bootstrap/scss/mixins";

@import "colors";

@import "variables";
@import "mixins";

@import "page";

@import "components";
@import "components_page";
@import 'navbar';
@import "modals";
@import 'pages';
@import 'loading';

*/
.main-content {
  padding: 15px 0; }
  .main-content .main-content-body {
    background-color: #fff;
    border-radius: 3px;
    padding: 0 0 24px 0;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }

/**************************
Component: alert-error
!!! copy style form alert-danger
***************************/
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.table > tbody > tr.success > td,
.table > tbody > tr > td.success,
.table > tbody > tr.active > td,
.table > tbody > tr > td.active {
  color: green;
  background-color: transparent; }

.table > tbody > tr.failed > td,
.table > tbody > tr > td.failed,
.table > tbody > tr.inactive > td,
.table > tbody > tr > td.inactive {
  color: red;
  background-color: transparent; }

/**************************
Component: transaction-detail
Element:
- data list
Varaint: N/A
***************************/
.backyard-detail .dl-horizontal dd {
  margin-bottom: 5px; }

.backyard-detail .dl-horizontal dt {
  text-align: left; }

.backyard-detail .dl-horizontal > .action {
  margin-bottom: 10px; }

.backyard-detail legend {
  font-weight: 500;
  border-bottom: 0; }

/**************************
Component: chart-section
Element: summary
Varaint: N/A
***************************/
.chart-section {
  margin-bottom: 30px; }
  .chart-section .discrete-chart,
  .chart-section .pie-chart {
    margin-bottom: 24px; }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-7.-special,
  .col-md-5.-special {
    width: 100%; } }

@media (min-width: 1201px) and (max-width: 1366px) {
  .col-lg-4.-special {
    width: 58.33333333%; } }

/**************************
Component: chart-wrapper
Element: N/A
Varaint: N/A
***************************/
.chart-wrapper {
  box-shadow: 0 1px 3px #999;
  margin-bottom: 24px;
  padding: 8px 16px;
  border-radius: 3px; }

/**************************
Component: search-form
Element: btn, form-group
Varaint: N/A
Template: amnesty_campaign/amnesty/templates/backyard/snippets/search_form.html
***************************/
.search-form {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .search-form .btn {
      margin-top: 27px; } }

.form-group._listnonestyle ul {
  padding-left: 0;
  list-style: none; }

/*# sourceMappingURL=backyard_css.css.map */