<li class="form-homepage-highlight">
  <div class="row-campaigns">
    <div class="hidden">
      {{ form.DELETE }}
      {{ form.ORDER }}
    </div>

    {{ form.slot1 }}
    {% if form.slot1.errors %}
    <div class="alert alert-danger">{{ form.slot1.errors }}</div>
    {% endif %}

    {{ form.slot2 }}
    {% if form.slot2.errors %}
    <div class="alert alert-danger">{{ form.slot2.errors }}</div>
    {% endif %}
  </div>
  <div class="row-control">
    <a href="#" class="js-move-up-highlight"><i class="fa fa-arrow-up"></i></a>
    <a href="#" class="js-move-down-highlight"><i class="fa fa-arrow-down"></i></a>
    <a href="#" class="js-remove-highlight"><i class="fa fa-remove"></i></a>
  </div>
</li>