<div class="form-custom-price">
    <div class="form-group">
      <label for="{{ form.amount.id_for_label }}" class="col-sm-3 control-label">จำนวนเงินเป้าหมาย</label>
      <div class="col-sm-9 form-control-currency">
        {{ form.amount }}<span class="unit">บาท</span>
        <p class="help-block">ใส่ได้แค่เลขจำนวนเต็ม (ไม่มีเศษสตางค์) และหากไม่มีเป้าหมาย ให้ใส่จำนวนเป็น 0</p>
      </div>
    </div>

    <div class="form-group">
      <label for="{{ form.description.id_for_label }}" class="col-sm-3 control-label">คำอธิบาย</label>
      <div class="col-sm-9">
        {{ form.description }}
      </div>
    </div>

    <div class="hidden">
        {{ form.id }}
        {{ form.campaign }}
        {{ form.DELETE }}
    </div>

    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <button type="button" class="btn btn-default js-remove-custom-price">Remove</button>
        </div>
    </div>
</div>