{% extends "base.html" %}
{% load common %}

{% block body_css_class %}page-cart{% endblock %}

{% block title %}Shopping Cart{% endblock title %}

{% block content %}

    <h1>Shopping Cart</h1>

    <div style="display: none;" class="js-cart-empty">
        <p>You haven't added any items to shopping cart</p>
    </div>

    <div style="display: none;" class="js-cart-not-empty">
        <p>You have <span class="js-num-items"></span> items in shopping cart</p>

        <ul class="cart-items">
            {% comment %}
                <li data-product-id="{{ item.product.id }}">
                    <div class="name"><a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></div>
                    <div class="details">Quantity: {{ item.quantity }} | Unit Price: {{ item.product.unit_price|amount_short }} Baht</div>
                    <div class="total">{{ item.line_total|amount_short }} Baht</div>
                    <div class="actions"><a href="#" class="js-remove-item">Remove</a></div>
                </li>
            {% endcomment %}
        </ul>

        <div class="cart-total">
            <div class="subtotal">
                Subtotal: <span class="number"></span> Baht
            </div>
            <div class="total">
                Total: <span class="number"></span> Baht
            </div>
        </div>

        <form method="post" action=".">
            {% csrf_token %}
            <div>
                <button type="button" name="submit" value="checkout" class="btn btn-primary">Checkout</button>
                <button type="button" name="submit" value="empty" class="btn btn-secondary">Empty</button>
                <button type="button" name="submit" value="refresh" class="btn btn-secondary">Refresh</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascript %}
<script>

if(ShoppingCart.is_out_of_sync) {
    console.log('out of sync');
} else {
    console.log('in sync');
}


    $('form button[value="checkout"]').on('click', function () {
        ShoppingCart.checkout(function (resp) {
            window.location = "{% url 'commerce:checkout' %}";

        }, function (resp) {

        });
    });

    $('form button[value="empty"]').on('click', function () {
        ShoppingCart.clear(function (resp) {
            window.location = "{% url 'commerce:cart_view' %}";

        });
    });

    $('form button[value="refresh"]').on('click', function () {
        console.log(store.get('cart-item'));
        return false;
    });

    ShoppingCart.load_products(function (resp) {
        var products = resp.products;

        {# TODO: Total #}
        var subtotal = 0;
        if (products.length) {
            $('.js-cart-not-empty').show();
            $('.js-num-items').text(products.length);

            products.forEach(function (product) {
                var item = ShoppingCart._get_cart_item(product.id);
                var unitPrice = parseInt(product.unit_price);
                var lineTotal = unitPrice * item.quantity;
                subtotal += lineTotal;

                var quantityChoices = '';
                R.forEach(function (i) {
                    var isSelected = '';
                    if (i == item.quantity) {
                        isSelected = ' selected="selected"';
                    }
                    quantityChoices += '<option value="' + i + '"' + isSelected + '>' + i + '</option>'
                }, R.range(1, R.max(11, item.quantity+1)));

                $('.cart-items').append('<li data-product-id="' + product.id + '">' + '<div class="name"><a href="'+ product.url +'">' + product.name + '</a></div>' +
                    '<div class="details">Quantity: <select class="js-select-quantity">'+ quantityChoices +'</select> | Unit Price: <span class="js-unit-price">' + numberWithCommas(unitPrice) + '</span> Baht</div>' +
                    '<div class="total"><span class="js-line-total">' + numberWithCommas(lineTotal) + '</span> Baht</div>' +
                    '<div class="actions"><a href="#" class="js-remove-item">Remove</a></div></li>');
            });

            $('.subtotal .number').text(numberWithCommas(subtotal));
            $('.total .number').text(numberWithCommas(subtotal));

        } else {
            $('.js-cart-empty').show();
        }
    });

    $(document).on('click', '.js-remove-item', function (e) {
        e.preventDefault();

        var $this = $(this);
        var $parent = $this.parents('li');
        ShoppingCart.remove($parent.data('product-id'), function () {
            // hide
            $parent.hide();

            // cal total
            {# TODO: Total #}
            var subtotal = $('.subtotal .number').text();
            subtotal = parseInt(subtotal.replace(/,/g, ''));
            var lineTotal = $parent.find('.total').text();
            lineTotal = parseInt(lineTotal.replace(/,/g, ''));
            subtotal -= lineTotal;

            $('.subtotal .number').text(numberWithCommas(subtotal));
            $('.total .number').text(numberWithCommas(subtotal));

            if (ShoppingCart.num_items() === 0) {
                $('.js-cart-empty').show();
                $('.js-cart-not-empty').hide();
            }
        });
    });

    $(document).on('change', '.js-select-quantity', function () {
        var $this = $(this);
        var $parent = $this.parents('li');
        var newVal = $this.val();
        var unitPrice = parseInt($parent.find('.js-unit-price').text().replace(',', ''), 10);

        ShoppingCart.update($parent.data('product-id').toString(), newVal, function () {
            var newLineTotal = newVal * unitPrice;
            var oldLineTotal = parseInt($parent.find('.js-line-total').text().replace(',', ''), 10);
            var oldSubtotal = parseInt($('.subtotal .number').text().replace(',', ''), 10);
            var oldTotal = parseInt($('.total .number').text().replace(',', ''), 10);

            $parent.find('.js-line-total').text(numberWithCommas(newLineTotal));
            $('.subtotal .number').text(numberWithCommas(oldSubtotal - oldLineTotal + newLineTotal));
            $('.total .number').text(numberWithCommas(oldTotal - oldLineTotal + newLineTotal));

        }, function (resp) {
            alert('Error: ', resp.status);
        });
    });

</script>

{% endblock %}
