{% extends "base.html" %}
{% load static common i18n %}

{% block body_css_class %}page-homepage{% endblock %}

{% block title %}Bookstore{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="hero">
            <div class="logo"><img src="{% static 'images/website/logo-white.png' %}" width="271" height="45" /></div>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-sm-12">
                    <div class="message">
                        <h1>We reach where is unreachable to clean forest</h1>
                        <p>Hi omnes lingua, institutis, legibus inter se differunt. Morbi fringilla convallis sapien, id pulvinar odio volutpat. Quis aute iure reprehenderit in voluptate velit esse.</p>
                        <div class="video"><a href="#"><i class="fa fa-play-circle"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="metrics">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="story">
                        <h3>We are working with forest since 2010</h3>
                        <p>Unam incolunt Belgae, aliam Aquitani, tertiam. Integer legentibus erat a ante historiarum dapibus. Ambitioni dedisse scripsisse iudicaretur. Salutantibus vitae elit libero, a pharetra augue. At nos hinc posthac, sitientis piros Afros.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-3">
                    <span class="name">Places visited</span>
                    <span class="number">6 <span class="unit">mountains</span></span>
                </div>
                <div class="col-3">
                    <span class="name">Collectively cleaned</span>
                    <span class="number">400 <span class="unit">Kg.</span></span>
                </div>
                <div class="col-3">
                    <span class="name">People joined</span>
                    <span class="number">40 <span class="unit">volunteers</span></span>
                </div>
            </div>
        </div>

        <div class="cta">
            <p>Cum ceteris in veneratione tui montes, nascetur mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</p>

            <div class="row justify-content-center">
                <div class="col-md-3">
                    <a href="{% url 'donations:donate' %}" class="btn btn-action">Donate</a>
                    <p class="button-desc">Support us financially to keep our cause going</p>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-action">Join cause</a>
                    <p class="button-desc">Sign up as our member to receive many benefits</p>
                </div>
            </div>

            <div> </div>

            <!-- Donate, Membership -->
        </div>

        <div class="campaigns">
            <h2>Our next campaign</h2>
            <div class="subhead">Your support will help our volunteer for travelling cost and any fee</div>

            <div class="row">
                <div class="col-4">
                    <div class="campaign-card">
                        <div class="cover"><img src="{% static 'images/website/campaign-cover1.jpg' %}"/></div>
                        <div class="name"><a href="#">Clean Kao Tao</a></div>
                        <div class="teaser">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Quae vero auctorem tractata ab fiducia dicuntur. Petierunt uti sibi concilium totius Galliae in diem certam indicere.</div>
                        <div class="action">
                            <a href="#" class="btn btn-donate">Add fund</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="campaign-card">
                        <div class="cover"><img src="{% static 'images/website/campaign-cover1.jpg' %}"/></div>
                        <div class="name"><a href="#">Clean Kao Tao</a></div>
                        <div class="teaser">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Quae vero auctorem tractata ab fiducia dicuntur. Petierunt uti sibi concilium totius Galliae in diem certam indicere.</div>
                        <div class="action">
                            <a href="#" class="btn btn-donate">Add fund</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="campaign-card">
                        <div class="cover"><img src="{% static 'images/website/campaign-cover1.jpg' %}"/></div>
                        <div class="name"><a href="#">Clean Kao Tao</a></div>
                        <div class="teaser">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Quae vero auctorem tractata ab fiducia dicuntur. Petierunt uti sibi concilium totius Galliae in diem certam indicere.</div>
                        <div class="action">
                            <a href="#" class="btn btn-donate">Add fund</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="petitions">
            <h2>Vote for our next target</h2>

            <div class="row">
                <div class="col-4">
                    <div class="petition-card">
                        <div class="cover"></div>
                        <div class="name"></div>
                        <div class="teaser"></div>
                        <div class="action">
                            <a href="#" class="btn btn-primary">Add fund</a>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
        </div>

        <div class="newsletter">
            <div class="row">
                <div class="col-6">
                    Free e-book on how to travel sustainably
                </div>
                <div class="col-6">
                    <form action="." method="post">
                        Email newsletter
                        <input type="text" />
                        <button type="submit"></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer">
            Sweeping Trakker
        </div>
    </div>

{% endblock %}

{% block javascript %}
<script>

</script>
{% endblock %}