{% extends "base.html" %}
{% load common commerce %}

{% block body_css_class %}page-product{% endblock %}

{% block title %}Product - {{ product.name }}{% endblock title %}

{% block content %}
    <div class="product">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="product-cover"></div>
                </div>
                <div class="col-9">
                    <h1>{{ product.name }}</h1>
                    <p class="product-teaser">{{ product.teaser }}</p>

                    <form class="checkout-form" action="." method="post">
                        {% csrf_token %}

                        {% if product.unit_price == product.sale_price %}
                            <div class="price"><span class="number">{{ product.unit_price|amount_short }}</span> Baht</div>
                        {% else %}
                            <div class="price with_sale"><span class="number">{{ product.unit_price|amount_short }}</span> Baht</div>
                            <div class="sale_price"><span class="number">{{ product.sale_price|amount_short }}</span> Baht</div>
                        {% endif %}

                        <div class="form-group form-quantity">
                            <label for="id_quantity">Quantity:</label>
                            <input type="number" class="form-control" id="id_quantity" name="quantity" value="1">
                        </div>

                        <div class="submit"><button type="button" class="btn btn-primary js-btn-add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button></div>
                        <div style="display: none;" class="existed js-existed">You already have this product in your cart</div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-item-added" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Item added to your cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="product_name">{{ product.name }}</div>
                    <div class="details">Unit price: {{ product.unit_price }} | Quantity: <span class="js-modal-quantity"></span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary js-checkout">Checkout</button>
                    <a href="{% url 'commerce:cart_view' %}" class="btn btn-secondary"><i class="fa fa-shopping-cart"></i> Cart</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue shopping</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
var _product = {% load_product_to_js %};
if (ShoppingCart.is_in_cart(_product.id)) {
    $('.js-existed').show();
}

function loadingState(is_loading) {
    var button = $('.js-btn-add-to-cart');
    if(is_loading) {
        var html = button.html();
        button.data('button-text', html).html('<i class="fa fa-refresh fa-spin"></i>').prop('disabled', true);
    } else {
        button.html(button.data('button-text')).prop('disabled', false);
    }
}

function clearState() {
    $('form.checkout-form input[name="quantity"]').removeClass('has-error');
}

$('.js-btn-add-to-cart').on('click', function () {
    loadingState(true);
    clearState();

    var quantity = $('form.checkout-form input[name="quantity"]').val();

    ShoppingCart.add(_product.id, quantity, function() {
        loadingState(false);

        // On success
        $('.js-modal-quantity').text(quantity);
        $('#modal-item-added').modal('show');

        $('.js-existed').show();

    }, function(response) {
        loadingState(false);

        // On error
        if(response.status == 'quantity-invalid') {
            $('form.checkout-form input[name="quantity"]').addClass('has-error');
        } else {
            // TODO : Shop popup
        }
    });

    return false;
});

$('.js-checkout').on('click', function () {
    ShoppingCart.checkout(function (resp) {
        window.location = "{% url 'commerce:checkout' %}";

    }, function (resp) {

    });
});
</script>
{% endblock %}
