{% extends "base.html" %}
{% load common i18n %}

{% block body_css_class %}page-checkout-payment{% endblock %}

{% block title %}Checkout - Payment{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h1>Checkout - Payment</h1>

    <form action="." method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-6">
                <fieldset class="form-group">
                    <legend>Payment method</legend>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Credit Card
                      </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                        LINE Pay
                      </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                        Bank Transfer
                      </label>
                    </div>
                </fieldset>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Next</button>

    </form>
</div>
{% endblock %}



