{% extends "base.html" %}
{% load common i18n %}

{% block body_css_class %}page-checkout-shopper{% endblock %}

{% block title %}Checkout - Shopper{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h1>Checkout - Shopper details</h1>

    <form action="." method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="id_email">Email address</label>
                    {{ checkout_form.email }}
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="id_first_name">First name</label>
                    {{ checkout_form.first_name }}
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="id_last_name">Last name</label>
                    {{ checkout_form.last_name }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="id_phone_number">Phone number</label>
                    {{ checkout_form.phone_number }}
                    <small id="emailHelp" class="form-text text-muted">We might contact you when we are delivery.</small>
                </div>
            </div>
        </div>

        <h3>Shipping address</h3>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="id_address">Street address</label>
                    {{ checkout_form.address }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="id_city">City</label>
                    {{ checkout_form.city }}
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="id_province">Province</label>
                    {{ checkout_form.province }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <label for="id_zip_code">Zip code</label>
                    {{ checkout_form.zip_code }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>

<div class="modal fade" id="cartOutOfSyncModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="backToCartModalLabel">Your cart has a change.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block javascript %}
<script>
if(ShoppingCart.is_out_of_sync) {
    $('#cartOutOfSyncModal').modal('show');
}



/*
var dbTimestamp = {{ shopping_cart.last_updated_milliseconds | default:0 }};
if (dbTimestamp < ShoppingCart.last_updated) {
    $('#backToCartModal').modal('show');
}

$('#cartOutOfSyncModal').on('hide.bs.modal', function (e) {
    window.location = "{% url 'commerce:cart_view' %}";
});*/

</script>
{% endblock %}

