{% extends "base.html" %}
{% load common i18n %}

{% block body_css_class %}page-order-details{% endblock %}

{% block title %}Order details{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h1>Order details # {{ order.order_number }}</h1>

    {{ order.subtotal }}
    {{ order.total }}

</div>
{% endblock %}



