{% extends "base.html" %}
{% load common static %}

{% block body_css_class %}page-donations-thankyou{% endblock %}

{% block facebook_meta %}
  <meta property="og:url" content="{{ WEBSITE_URL }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:image" content="http://www.example.com/path/image.jpg"/>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-8 col-md-10">

      <h1>Thank you for trying our demo</h1>
      <div class="subtitle">We have sent you an email to <b>panuta@gmail.com</b> to let you check out the customizable confirmation email that donors will receive.</div>

      <div class="sharing">
        <p>Share your donation on</p>
        <ul>
          <li class="facebook"><a href="#" id="share-facebook"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li class="twitter"><a href="https://twitter.com/intent/tweet?text=Hello%20world"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li class="line"><a href="#"><i class="fontello icon-line"></i> LINE</a></li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="contact-us">
            <p>If you want to know more about our donation systems,<br/>please contact us.</p>
            <div class="button"><a class="btn btn-primary">Contact us</a></div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

    </div>
    <div class="col-lg-2 col-md-1"></div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
document.getElementById('share-facebook').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: '{{ WEBSITE_URL }}{{ request.path }}',
  }, function(response){});

  return false;
}


</script>
{% endblock %}